<div class="home-menu">
  <div class="module-menu">
    <a href="/crm" class="module-item btn btn-default"title="Customer Relationship Management">CRM</a>
    <a href="/hrm" class="module-item btn btn-default"title="Human Resource Management">HRM</a>
    <a href="/frm" class="module-item btn btn-default"title="Financial Resource Management">FRM</a>
    <a href="/pm" class="module-item btn btn-default"title="Project Management">PM</a>
  </div>

  <a href="#/" class="home" ng-class="{active: $state.includes('index')}">Dashboard</a>
</div>

<accordion class="menu" close-others="false">
  <!-- Data -->
  <accordion-group is-open="accordionOpen.data" ng-class="{open: accordionOpen.data}">
    <accordion-heading>Data</accordion-heading>

    <ul class="nav">
      <li ng-class="{active: $state.includes('bank')}"><a href="#/bank">Data Bank</a></li>
      <li ng-class="{active: $state.includes('location')}"><a href="#/lokasi">Data Lokasi</a></li>
      <li class="divider"></li>
      <li ng-class="{active: $state.includes('projectGroup')}"><a href="#/kelompok-proyek">Data Kelompok Proyek</a></li>
      <li ng-class="{active: $state.includes('projectType')}"><a href="#/tipe-proyek">Data Tipe Proyek</a></li>
      <li ng-class="{active: $state.includes('project')}"><a href="#/proyek">Data Proyek</a></li>
      <li class="divider"></li>
      <li ng-class="{active: $state.includes('letterType')}"><a href="#/kategori-surat">Data Kategori Surat</a></li>
      <li ng-class="{active: $state.includes('letter')}"><a href="#/surat">Pencatatan Surat</a></li>
      <li class="divider"></li>
      <li ng-class="{active: $state.includes('position')}"><a href="#/jabatan">Data Jabatan Pegawai</a></li>
      <li ng-class="{active: $state.includes('competence')}"><a href="#/kompetensi">Data Kompetensi Pegawai</a></li>
      <li ng-class="{active: $state.includes('employee')}"><a href="#/pegawai">Data Pegawai</a></li>
    </ul>
  </accordion-group>

  <!-- Kehadiran -->
  <accordion-group is-open="accordionOpen.attendance" ng-class="{open: accordionOpen.attendance}">
    <accordion-heading>Kehadiran</accordion-heading>

    <ul class="nav">
      <li ng-class="{active: $state.includes('absent')}"><a href="#/absen">Daftar Absensi</a></li>
      <li ng-class="{active: $state.includes('overtime')}"><a href="#/lembur">Daftar Lembur</a></li>
    </ul>
  </accordion-group>

  <!-- Penggajian -->
  <accordion-group is-open="accordionOpen.salary" ng-class="{open: accordionOpen.salary}">
    <accordion-heading>Penggajian</accordion-heading>

    <ul class="nav">
      <li ng-class="{active: $state.includes('penalty')}"><a href="#/sanksi">Sanksi SLA</a></li>
      <li class="divider"></li>
      <li ng-class="{active: $state.includes('allowance')}"><a href="#/thr">Tunjangan Hari Raya</a></li>
      <li ng-class="{active: $state.includes('incentive')}"><a href="#/insentif">Insentif</a></li>
      <li ng-class="{active: $state.includes('severance')}"><a href="#/pesangon">Pesangon</a></li>
      <li ng-class="{active: $state.includes('salary')}"><a href="#/gaji">Penggajian Pegawai</a></li>
      <li class="divider"></li>
      <li ng-class="{active: $state.includes('resign')}"><a href="#/resign">Pemberhentian Pegawai</a></li>
    </ul>
  </accordion-group>
</accordion>

<ul class="options visible-xs">
  <li><a href="/user-profile"><strong>{{profile.display_name}}</strong></a> - {{profile.role}} <a href="/logout">[Logout]</a></li>
</ul>
