// Bootstrap animation
// --------------------------------------

.collapse {
  display: none;
  &.in {
    display: block;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  .transition(height .35s ease);
}

.dropdown-menu {
  .animation(dropdown-anim .35s ease);
}

@-webkit-keyframes dropdown-anim {
  from {
    opacity: 0;
    display: block;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-anim {
  from {
    opacity: 0;
    display: block;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% -0;
    transform-origin: 50% 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}

// Angular animation
// --------------------------------------

.ng-hide-remove, .ng-hide-add {
  display: block !important;
}

.fade {
  &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }
  &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
    opacity: 1;
  }
}

.slide-reveal {
  &.ng-enter {
    .transition(all 0.35s ease);
    opacity: 0;
    position: relative;
    top: 10px;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
  }
}

// Navbar
// --------------------------------------

.navbar {
  .transition(height .1s ease);
}
.navbar-brand .title {
  .transition(all .2s ease);
}
.navbar-bg {
  .transition(opacity .1s linear);
}

// Sidebar
// --------------------------------------

.sidebar {
  @media(min-width: @screen-md-min) {
    .transition(width .53s ease);
  }
  @media(max-width: @screen-sm-max) {
    .transition(left .35s ease);
  }
}
.sidebar.sidebar-open, .sidebar.ng-animate {
  display: block;
}
@media (min-width: @screen-md-min) {
  .sidebar.ng-animate .sidebar-inner {
    position: absolute;
    width: @sidebar-width;
    right: 0;
  }
}
.sidebar-backdrop {
  .transition(opacity .35s ease);
}

// Messages
// --------------------------------------

.message {
  &.ng-enter, &.ng-leave {
    .transition(all 0.35s ease);
    position: relative;
  }
  &.ng-enter {
    opacity: 0;
    top: -30px;
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    opacity: 1;
    top: 0;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

