// ---------------------------------------------------------------------------
// Style untuk module app.
// ---------------------------------------------------------------------------

@import "variables.less";
@import "mixins.less";

@import "layout.less";
@import "toolbar.less";
@import "mini-profile.less";
@import "forms.less";
@import "animation.less";

// Navbar
// --------------------------------------

.navbar {
  color: @navbar-default-color;
  background-color: @navbar-default-bg;
  border-color: @navbar-default-border;

  .navbar-brand {
    color: @navbar-default-brand-color;
    .sidebar-toggle {
      .icon-bar {
        background-color: @navbar-default-color;
        opacity: .5;
      }
    }
    &:hover, &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-nav {
    > li > a {
      color: @navbar-default-link-color;
      &:hover, &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
      &:active {
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .active > a {
      &, &:hover, &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &, &:hover, &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
    > .open > a {
      &, &:hover, &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }
  }
}

.navbar-inverse {
  color: @navbar-inverse-color;
  background-color: @navbar-inverse-bg;
  border-color: @navbar-inverse-border;

  .navbar-brand {
    &, &:hover, &:focus {
      color: @navbar-inverse-brand-color;
    }
    .sidebar-toggle {
      &:hover {
        background-color: @navbar-inverse-link-hover-bg;
      }
      .icon-bar {
        background-color: @navbar-inverse-color;
        opacity: .95;
      }
    }
  }

  .navbar-nav {
    > li > a {
      color: @navbar-inverse-link-color;
      &:hover, &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
      &:active {
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .active > a {
      &, &:hover, &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &, &:hover, &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
    > .open > a {
      &, &:hover, &:focus {
        background-color: @navbar-inverse-link-active-bg;
        color: @navbar-inverse-link-active-color;
      }
    }
  }
}

@media (min-width: @screen-xs-min) {
  .navbar-inverse {
    .btn-toolbar {
      color: @toolbar-inverse-color;
      &:hover, &:focus {
        color: @toolbar-inverse-hover-color;
        background-color: @toolbar-inverse-hover-bg;
      }
      &:active, &.active {
        color: @toolbar-inverse-active-color;
        background-color: @toolbar-inverse-active-bg;
      }
      &.disabled, &[disabled] {
        color: @toolbar-inverse-disabled-color;
        background-color: @toolbar-inverse-disabled-bg;
      }
    }
    .toolbar-search .toolbar-item-search .form-control {
      color: @toolbar-inverse-color;
    }
  }
}

@media (max-width: (@screen-xs-min - 1px)) {
  .toolbars {
    border-color: @actionbar-border;
  }
}

// Sidebar dan Content
// --------------------------------------

.sidebar {
  background-color: @sidebar-bg;
  border-color: @sidebar-border;
  .options, .options li {
    background-color: whitesmoke;
    border-color: @sidebar-border;
  }
}
.sidebar-backdrop {
  background-color: @sidebar-backdrop-bg;
}

// // Menu
// // --------------------------------------

.home-menu {
  .module-menu {
    background-color: whitesmoke;
  }
  .home {
    color: inherit;
    border-color: @sidebar-border;
    &:hover, &:focus {
      background-color: @nav-link-hover-bg;
    }
  }
}

.menu {
  .accordion-toggle {
    color: inherit;
    cursor: pointer;
    border-color: transparent;
  }

  .panel.open .accordion-toggle, .accordion-toggle:hover, .accordion-toggle:focus {
    background-color: whitesmoke;
    border-color: @sidebar-border;
  }
  .panel:first-child .accordion-toggle {
    border-color: transparent;
  }
  .nav .divider {
    background-color: @dropdown-divider-bg;
  }
}

.home-menu .active, .menu .active a {
  font-weight: bold;
  color: @nav-active-color;
}

// // Status
// // --------------------------------------

.loading-indicator {
  background-color: lighten(@brand-danger, 20%);
}

.messages {
  .alert-success {
    border-color: @alert-success-text;
  }
  .alert-info {
    border-color: @alert-info-text;
  }
  .alert-warning {
    border-color: @alert-warning-text;
  }
  .alert-danger {
    border-color: @alert-danger-text;
  }
}
