
// Form
// --------------------------------------

fieldset {
  margin-bottom: 25px;
}
legend {
  font-size: @font-size-medium;
  color: @nav-active-color;
}
label {
  font-weight: normal;
}

.form-control {
  .box-shadow(none);
}
.btn:active, .btn.active {
  .box-shadow(none);
}

.btn-transparent {
  color: @btn-default-color;
  background-color: transparent;
  border-color: transparent;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @btn-default-color;
    background-color: darken(@btn-default-bg, 8%);
        border-color: darken(@btn-default-border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: transparent;
          border-color: transparent;
    }
  }
}

.action-link {
  display: inline-block;
  border: 1px solid transparent;
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;
  line-height: @line-height-base;
  margin-bottom: 10px;
}

.ng-dirty.ng-invalid {
  //.form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
  border-color: @state-danger-text;
  &:focus {
    border-color: darken(@state-danger-text, 10%);
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@state-danger-text, 20%);
    .box-shadow(@shadow);
  }
}

// Form Layout
// --------------------------------------

.modal-footer .btn, .item-footer .btn {
  min-width: 80px;
  + .btn {
    margin-left: 10px;
  }
}

.form-horizontal {
  .form-group {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
  }

  .radio-group, .checkbox-group {
    margin-bottom: 17px;
  }

  .control-label {
    display: block;
    text-align: left;
    @media (min-width: @screen-md-min) {
      text-align: right;
    }
    @media (max-width: @screen-sm-max) {
      float: none !important; // HACK: fix strange behavior pada chrome for android jika input type date
      font-size: 7px;
      font-weight: bold;
      text-transform: uppercase;
      color: @gray;
      padding-top: 0;
    }
  }
  .row .control-label {
    float: left;
  }

  .row .control-label-stacked {
    float: none;
    text-align: left;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: @gray;
    padding-top: 0;
  }

  .form-control, .select2-container.form-control {
    margin-bottom: 10px;
  }

  @media (min-width: @screen-md-min) {
    .col-date {
      width: 140px;
    }
    .col-currency {
      width: 150px;
    }
    .col-integer {
      width: 80px;
    }
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-row {
    margin-left: -3px;
    margin-right: -3px;
    .form-col {
      padding-left: 3px;
      padding-right: 3px;
    }
    > .control-label {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.form-inline .control-label {
  @media (max-width: @screen-xs-max) {
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: @gray;
  }
}

// Data Table
// --------------------------------------

.table-data-wrapper {
  overflow-x: auto;
}

.table-data {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid;
    padding: @table-cell-padding;
  }
  td {
    vertical-align: top;
  }
  tr.group {
    cursor: pointer;
    .caret {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #333333;
      border-right: none;
      margin-left: 3px;
      margin-top: -4px;
      opacity: .5;
    }
    &.open .caret {
      border-top: 4px solid transparent;
      border-right: 4px solid #333333;
      border-bottom: 4px solid #333333;
      border-left: 4px solid transparent;
      margin-left: 1px;
      margin-top: -5px;
    }
  }

  .col-checkbox {
    width: 30px;
    text-align: center;
  }

  @media (max-width: @screen-xs-max) {
    &, colgroup, thead, tbody, tr, th, td {
      display: block;
    }
    colgroup {
      display: none;
    }
    thead {
      position: fixed;
      width: 0;
      height: 0;
      top: -999px;
      left: -999px;
    }
    th, td {
      border: none;
      padding: 0;
    }
    tr {
      position: relative;
      padding: 5px 35px 5px 15px;
      overflow: hidden;
      min-height: 62px;
      border-bottom: 1px solid;
      cursor: pointer;
    }
    td:nth-child(2) {
      .clearfix();
      font-size: 15px;
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .col-checkbox {
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 20px 15px;
      width: auto;
    }
    td:nth-child(n+3) {
      display: block;
      font-size: 11px;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 10px;
      max-height: 30px;
      overflow: hidden;
    }
    td:nth-child(n+3):before {
      content: attr(caption);
      font-weight: bold;
    }
    tr.group {
      min-height: 0;
      padding-top: 4px;
      padding-bottom: 3px;
      td {
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .col-caret {
        display: none;
      }
    }
    th.visible-xs, td.visible-xs {
      // Hack: saat mobile view, th/td harus display block
      display: block !important;
    }
    .text-right {
      // Hack: Mobile view tidak ada align right
      text-align: left;
    }
  }
}

.table-data {
  th, td {
    border-color: @table-border-color;
  }
  th {
    background-color: whitesmoke;
  }
  tr:hover, tr:focus, tr.selected {
    background-color: @table-bg-hover;
  }
  tr.group {
    &, &:hover {
      background-color: darken(@table-bg-hover, 5%);
    }
  }

  @media (max-width: @screen-xs-max) {
    tr {
      border-color: @table-border-color;
    }
    tr:active {
      background-color: @table-bg-active;
    }
    td:nth-child(n+3) {
      color: lighten(@text-color, 40%);
    }
  }
}

// Filter Form
// --------------------------------------

.filter-data .control-label {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

// Module spesific
// --------------------------------------

// Project

@media (min-width: @screen-sm-min) {
  .table-data-project {
    min-width: 1200px;
  }
}

// Employee

@media (min-width: @screen-sm-min) {
  .table-data-employee {
    min-width: 1500px;
  }
}

.employee-form {
  .photo {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0 auto 20px;
    @media (min-width: @screen-sm-min) {
      position: absolute;
      right: 20px;
      z-index: 1;
    }

    .drop-area {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px dashed #cccccc;
      cursor: pointer;
      label {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;
      }
    }
    .drop-area-over {
      border-color: orange;
      background: #FFD9B3;
    }
    .thumb {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .photo-action {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 10px 15px 15px;
      display: block;
      background-color: rgba(0, 0, 0, .3);
      border-radius: 0 0 0 100%;
    }
    .photo-action:hover {
      background-color: rgba(0, 0, 0, .4);
    }
  }

}
