// ---------------------------------------------------------------------------
// Style untuk halaman home.
// ---------------------------------------------------------------------------

@import "variables.less";
@import "mixins.less";
@import "sticky-footer.less";

.marketing {
  .title, .marketing-byline {
    text-align: center;
  }
  .title {
    font-size: 46px;
    font-weight: 200;
    color: @gray-light;
    margin: 60px 0 10px;
    line-height: 1;
    @media (max-width: @screen-xs-max) {
      font-size: 32px;
    }
  }
  .title, .subtitle {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .marketing-byline {
    font-size: 18px;
    color: #999;
    margin-bottom: 40px;
    line-height: 1.25;
    @media (max-width: @screen-xs-max) {
      font-size: 14px;
    }
  }
  [class*="col-"] {
    padding: 10px;
    .img {
      text-align: center;
    }
  }
  .module-title {
    margin-top: 0;
    line-height: 1;
    font-size: 20px;
  }
}

img {
  margin: 0 auto;
}

@media (max-width: @screen-sm-max) {
  .description {
    text-align: center;
  }
}

.company-link {
  font-weight: bold;
  color: @gray-light;
}
