html, body {
  width: 100%;
  height: 100%;
}

// Navbar
// --------------------------------------

.navbar {
  .clearfix();
  position: fixed;
  z-index: @zindex-navbar-fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @navbar-expand-height + @navbar-border-width;
  border-bottom: @navbar-border-width solid;
}

.navbar-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/img/header.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar-brand {
  .clearfix();
  float: left;
  padding: 0 15px 0 45px;
  @media (min-width: @screen-sm-min) {
    min-width: @sidebar-width;
  }

  .title {
    font-size: 35px;
    @media (max-width: @screen-xs-max) {
      font-size: 30px;
    }
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 15px 0 10px;
    padding: 0;
  }
  .subtitle {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  .sidebar-toggle {
    position: absolute;
    display: block;
    top: 8px;
    left: 5px;
    padding: 10px;
    width: 35px;
    border-radius: 3px;
    .icon-bar {
      display: block;
      height: 2px;
      margin-top: 3px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.shrink .navbar-brand {
  .title {
    font-size: 18px;
    font-weight: normal;
  }
  .subtitle {
    display: none;
  }
}

.navbar-nav {
  > li > a {
    padding-top: @navbar-padding-vertical;
    padding-bottom: @navbar-padding-vertical;
    line-height: @line-height-computed;
    height: @navbar-height;
  }
  > li > .dropdown-menu {
    margin-top: -1px;
  }
  &.navbar-right > li > .dropdown-menu,
  > li > .dropdown-menu.navbar-right {
    left: auto;
    right: 0;
  }
}

// Toolbar dan Profile
// --------------------------------------

.toolbars {
  overflow: hidden;
}
@media (min-width: (@screen-xs-min - 1px)) {
  .toolbars {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    padding-left: @sidebar-width;
  }
  .shrink .toolbars {
    position: relative;
    background-color: transparent;
    padding-left: 0;
  }
}
.btn-toolbar {
  width: @navbar-height;
  height: @navbar-height;
}
.toolbar.toolbar-main {
  .toolbar-item-prev-page, .toolbar-item-next-page {
    @media (min-width: @screen-md-min) {
      display: none;
    }
  }
}
.toolbar.toolbar-search {
  width: 100%;
  .toolbar-item-back {
    width: 50px;
  }
}
.toolbar.toolbar-pages {
  margin-top: 10px;
  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

@media (max-width: @screen-xs-max) {
  .toolbars .toolbar {
    float: right;
  }
  .mini-profile {
    margin-left: 0;
  }
}

@media (max-width: (@screen-xs-min - 1px)) {
  .toolbars {
    position: fixed;
    height: @actionbar-height + @actionbar-border-width;
    left: 0;
    right: 0;
    bottom: 0;
    background: @actionbar-bg;
    border-top: @actionbar-border-width solid;
    .toolbar {
      width: 100%;
    }
  }
  .sidebar-open .toolbars {
    display: block;
  }
  .content-wrapper {
    padding-bottom: @actionbar-height;
  }
}

.mini-profile {
  float: right;
  margin-left: 10px;
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}

// Sidebar dan Content
// --------------------------------------

.sidebar {
  display: none;
  width: @sidebar-width;
  border-right: 1px solid;
  .options {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    li {
      padding: 10px 15px;
    }
    li + li {
      border-top-width: 1px;
      border-top-style: solid;
    }
  }
}
.sidebar, .content-wrapper {
  padding-top: @navbar-expand-height + @navbar-border-width;
}

@media (min-width: @screen-md-min) {
  .sidebar {
    position: relative;
    float: left;
    width: 0;
  }
  .sidebar.sidebar-open {
    width: @sidebar-width;
  }
  .content-wrapper {
    overflow: hidden;
  }
}

@media (max-width: @screen-sm-max) {
  body.sidebar-open {
    overflow: hidden;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -@sidebar-width;
    padding-top: 0;
    overflow: auto;
    z-index: @zindex-sidebar;
  }
  .sidebar.sidebar-open {
    left: 0;
  }
  .sidebar-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-sidebar-backdrop;
  }
  .sidebar-open .sidebar-backdrop {
    display: block;
  }
  .sidebar-open .mini-profile, .sidebar-open .toolbars {
    display: none;
  }
}

// Menu
// --------------------------------------

.home-menu {
  .module-menu {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    padding-bottom: 5px;
  }

  .module-item {
    display: table-cell;
    padding: 10px 15px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
  }

  .home {
    display: block;
    padding: 10px 15px;
    font-size: @font-size-medium;
    border-top: 1px solid;
    border-bottom: 1px solid;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.menu {
  display: block;
  margin-bottom: 20px;

  .accordion-toggle {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid;
    &:before {
      content: '';
      display: block;
      float: right;
      margin-left: 5px;
      margin-top: 2px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid;
      opacity: .5;
    }
  }

  .panel.open .accordion-toggle:before {
    border-top: 4px solid transparent;
    border-right: 4px solid;
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
  }
  .panel.open .accordion-toggle, .accordion-toggle:hover, .accordion-toggle:focus {
    text-decoration: none;
  }
  .panel-title {
    font-size: @font-size-medium;
    margin: 0;
    padding: 0;
  }
  .panel-body {
    margin-bottom: 10px;
  }
  .nav .divider {
    height: 1px;
    margin: 5px 15px;
  }
}

// Content
// --------------------------------------

.content-header .title {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: @font-size-large;
}

.content-header {
  padding: 10px 15px 0 15px;
}
.content-header-page {
  padding-bottom: 10px;
}
.content {
  padding: 10px 15px;
}
.content-data .no-data {
  text-align: center;
  font-style: italic;
}

.content-header-data {
  .title {
    margin-top: 0;
    display: table;
    min-height: @navbar-height - 20px;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .content-header-data {
    display: none;
  }
  .content-data {
    padding: 0;
    .no-data {
      margin: 20px;
    }
  }
}

.filter-data {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid @table-border-color;
  @media (max-width: @screen-sm-max) {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }
  background-color: whitesmoke;
}

// Tab
// --------------------------------------

.tab-content {
  margin-top: 20px;
}
.nav-tabs > li {
  cursor: pointer;
}
.nav-tabs > li.active {
  cursor: default;
}
@media (max-width: @screen-sm-max) {
  .nav-tabs {
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom-color: @link-color;

    > li {
      float: none;
      margin-bottom: 0;
      display: inline-block;

      > a {
        border: none;
        border-bottom: 2px solid transparent;
        color: @text-color;
        &:hover {
          background-color: transparent;
          border-color: @nav-tabs-link-hover-border-color;
        }
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          font-weight: bold;
          border: none;
          border-bottom: 2px solid @link-color;
        }
      }
    }
  }
}

// Status
// --------------------------------------

.loading-indicator {
  z-index: 1031;
  position: fixed;
  top: @navbar-expand-height;
  left: 0;
  right: 0;
  height: @navbar-border-width;
  background-size: 40px 40px;
  #gradient > .striped(@brand-danger);
  .animation(progress-bar-stripes .5s linear infinite);
}

.messages {
  z-index: 1031;
  position: fixed;
  right: 0;
  text-align: right;

  .alert {
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;
    .box-shadow(0 6px 12px rgba(0,0,0,.175));
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    .alert-body {
      min-width: 250px;
      max-width: 300px;
      text-align: left;
    }
    .close {
      margin-left: 10px;
    }
  }
}

// Sembunyikan header dan sidebar saat di-print
// --------------------------------------

@media print {
  .header { display: none; }
  .mini-profile { display: none !important; }
  .sidebar { display: none !important; }
  .content-wrapper { margin: 0; padding: 0; }
}
