// ---------------------------------------------------------------------------
// Style untuk halaman login.
// ---------------------------------------------------------------------------

@import "variables.less";
@import "mixins.less";
@import "sticky-footer.less";

// Header
// --------------------------

header {
  background-color: whitesmoke;
  border-bottom: 3px solid @brand-primary;

  .header-inner {
    padding: 15px 0;
  }
  .title {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 32px;
    margin: 0;
    color: @gray;
  }
}
@media (max-width: @screen-xs-max) {
  header {
    .header-inner {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .title {
      font-size: 15px;
    }
  }
}

// Content
// --------------------------

.container > .row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-area {
  padding: 0 10px;

  .title {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 50px;
    color: #aaa;
  }

  .login-form {
    .btn, .form-control {
      font-size: @font-size-large;
      font-weight: normal;
      height: auto;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .btn {
      padding-left: 20px;
      padding-right: 20px;
    }
    .checkbox {
      font-size: @font-size-medium;
      font-weight: normal;
    }
  }
  .login-help {
    margin-top: 40px;
    li { margin-bottom: 10px; }
  }
}

.info-area {
  .info-background {
    background: url(/img/security.jpg) center;
    background-size: cover;
    height: 420px;
  }
  .info-message {
    padding: 10px;
    color: #fff;
    background: @link-color;
  }
}

// Footer
// --------------------------

footer {
  > .container {
    border-top: 1px solid @gray-lighter;
    padding-top: 10px;
  }
  > a {
    margin-right: 20px;
  }
  .pull-right > a {
    margin-left: 20px;
  }
  .company-link {
    font-weight: bold;
    color: @gray-light;
  }
}
