.mini-profile {
  .dropdown-toggle {
    .label {
      font-weight: bold;
    }

    .picture {
      width: 32px;
      height: auto;
      margin-top: -14px;
      margin-bottom: -10px;
      margin-left: 5px;
    }

    .icon-dot {
      display: none;
    }

    @media (max-width: @screen-xs-max) {
      .label, .picture, .caret {
        display: none;
      }
      .icon-dot {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-radius: 2px;
        border-width: 2px;
        opacity: .5;
        margin-top: -1px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .icon-dot+.icon-dot {
        margin-top: 3px;
      }
    }
  }

  .dropdown-menu {
    padding: 15px 15px 20px;
    min-width: 200px;
    &:before {
      right: 26px !important;
    }
    &:after {
      right: 27px !important;
    }
  }

  .picture, .picture-large {
    border-radius: 100%;
  }
  .picture-large {
    display: block;
    margin: 5px auto;
  }
  .profile-data {
    margin-top: 10px;
    text-align: center;
    .display-name {
      font-size: @font-size-large;
    }
    .role {
      color: @gray;
      margin-bottom: 10px;
    }
  }
  .profile-actions {
    min-width: 70px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid @gray-lighter;
    .btn {
      float: right;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .mini-profile .open .dropdown-menu {
    background-color: #fff;
    .profile-actions .btn {
      float: none;
    }
  }
}
