html,
body {
  // The html and body elements cannot have any padding or margin
  height: 100%;
}

// Wrapper for page content to push down footer
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // Negative indent footer by its height
  margin: 0 auto -@footer-height;
  // Pad bottom by footer height
  padding: 0 0 60px;
}

// Set the fixed height of the footer here
footer {
  height: @footer-height;
}
