.toolbar {
  list-style: none;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.toolbar-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.btn-toolbar {
  min-width: 50px;
  width: 100%;
  border: none;
  background: transparent;
  margin: 0;
  padding: 10px;
  .glyphicon {
    font-size: 18px;
  }
}

.toolbar-search .toolbar-item-search {
  form {
    padding-right: 15px;
  }
  .form-control {
    color: @toolbar-default-color;
    background-color: rgba(255, 255, 255, .1);
  }
}

.btn-toolbar {
  color: @toolbar-default-color;
  &:hover, &:focus {
    color: @toolbar-default-hover-color;
    background-color: @toolbar-default-hover-bg;
  }
  &:active, &.active {
    color: @toolbar-default-active-color;
    background-color: @toolbar-default-active-bg;
  }
  &.disabled, &[disabled] {
    color: @toolbar-default-disabled-color;
    background-color: @toolbar-default-disabled-bg;
  }
}
