@import "../lib/bootstrap/less/variables.less";

// Typography
// --------------------------

@font-family-base:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base:          12px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~15px
@font-size-medium:        ceil(@font-size-base * 1.07); // ~13px
@font-size-small:         ceil(@font-size-base * 0.85); // ~11px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~17px

// Ukuran dan posisi
// --------------------------

@navbar-height:             48px;
@navbar-expand-height:      153px;
@navbar-border-width:       2px;
@sidebar-width:             310px;
@actionbar-height:          @navbar-height;
@actionbar-border-width:    1px;
@content-header-height:     40px;
@footer-height:             50px;

// Warna
// --------------------------

@nav-active-color:                      brown;

@navbar-default-color:                  @text-color;
@navbar-default-hover-color:            darken(@navbar-default-color, 20%);
@navbar-default-bg:                     whitesmoke;
@navbar-default-border:                 #428bca;
@navbar-default-brand-color:            @navbar-default-color;
@navbar-default-brand-hover-color:      @navbar-default-hover-color;
@navbar-default-link-hover-bg:          darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-bg:         darken(@navbar-default-bg, 12%);
@navbar-inverse-color:                  #ccc;
@navbar-inverse-bg:                     #333;
@navbar-inverse-border:                 #428bca;
@navbar-inverse-link-color:             @navbar-inverse-color;
@navbar-inverse-link-hover-color:       #fff;
@navbar-inverse-link-hover-bg:          rgba(0, 0, 0, .7); // darken(@navbar-inverse-bg, 3%);
@navbar-inverse-link-active-bg:         darken(@navbar-inverse-bg, 10%);
@navbar-inverse-brand-color:            #fff;
@navbar-inverse-brand-hover-color:      #ddd;
@navbar-inverse-toggle-hover-bg:        darken(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-border-color:    transparent;

@toolbar-default-color:                 @navbar-default-color;
@toolbar-default-hover-color:           @navbar-default-link-hover-color;
@toolbar-default-hover-bg:              @navbar-default-link-hover-bg;
@toolbar-default-active-color:          @navbar-default-link-active-color;
@toolbar-default-active-bg:             @navbar-default-link-active-bg;
@toolbar-default-disabled-color:        @navbar-default-link-disabled-color;
@toolbar-default-disabled-bg:           @navbar-default-link-disabled-bg;
@toolbar-inverse-color:                 @navbar-inverse-color;
@toolbar-inverse-hover-color:           @navbar-inverse-link-hover-color;
@toolbar-inverse-hover-bg:              @navbar-inverse-link-hover-bg;
@toolbar-inverse-active-color:          @navbar-inverse-link-active-color;
@toolbar-inverse-active-bg:             @navbar-inverse-link-active-bg;
@toolbar-inverse-disabled-color:        @navbar-inverse-link-disabled-color;
@toolbar-inverse-disabled-bg:           @navbar-inverse-link-disabled-bg;

@actionbar-color:                       @text-color;
@actionbar-hover-color:                 darken(@actionbar-color, 20%);
@actionbar-bg:                          @navbar-default-bg;
@actionbar-border:                      #e0e0e0;

@sidebar-bg:                            #fff;
@sidebar-border:                        #e0e0e0;
@sidebar-backdrop-bg:                   rgba(0, 0, 0, .5);
@table-bg-active:                       darken(@table-bg-hover, 10%);

// Component
// --------------------------

@padding-base-vertical:   6px;
@padding-base-horizontal: 6px;
@border-radius-base:      0;
@input-border-radius:     0;
@button-border-radius:    0;


// Z-index master list
// --------------------------

@zindex-sidebar-backdrop:   @zindex-navbar-fixed + 10;
@zindex-sidebar:            @zindex-navbar-fixed + 20;
