html,
body {
  width: 100%;
  height: 100%;
}
.navbar {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
  height: 155px;
  border-bottom: 2px solid;
}
.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}
.navbar-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/img/header.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.navbar-brand {
  float: left;
  padding: 0 15px 0 45px;
}
.navbar-brand:before,
.navbar-brand:after {
  content: " ";
  display: table;
}
.navbar-brand:after {
  clear: both;
}
@media (min-width: 768px) {
  .navbar-brand {
    min-width: 310px;
  }
}
.navbar-brand .title {
  font-size: 35px;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 15px 0 10px;
  padding: 0;
}
@media (max-width: 767px) {
  .navbar-brand .title {
    font-size: 30px;
  }
}
.navbar-brand .subtitle {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.navbar-brand .sidebar-toggle {
  position: absolute;
  display: block;
  top: 8px;
  left: 5px;
  padding: 10px;
  width: 35px;
  border-radius: 3px;
}
.navbar-brand .sidebar-toggle .icon-bar {
  display: block;
  height: 2px;
  margin-top: 3px;
}
.navbar-brand .sidebar-toggle .icon-bar:first-child {
  margin-top: 0;
}
.shrink .navbar-brand .title {
  font-size: 18px;
  font-weight: normal;
}
.shrink .navbar-brand .subtitle {
  display: none;
}
.navbar-nav > li > a {
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  line-height: 17px;
  height: 48px;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
}
.navbar-nav.navbar-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.navbar-right {
  left: auto;
  right: 0;
}
.toolbars {
  overflow: hidden;
}
@media (min-width: 479px) {
  .toolbars {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 310px;
  }
  .shrink .toolbars {
    position: relative;
    background-color: transparent;
    padding-left: 0;
  }
}
.btn-toolbar {
  width: 48px;
  height: 48px;
}
@media (min-width: 992px) {
  .toolbar.toolbar-main .toolbar-item-prev-page,
  .toolbar.toolbar-main .toolbar-item-next-page {
    display: none;
  }
}
.toolbar.toolbar-search {
  width: 100%;
}
.toolbar.toolbar-search .toolbar-item-back {
  width: 50px;
}
.toolbar.toolbar-pages {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .toolbar.toolbar-pages {
    display: none;
  }
}
@media (max-width: 767px) {
  .toolbars .toolbar {
    float: right;
  }
  .mini-profile {
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  .toolbars {
    position: fixed;
    height: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f5f5f5;
    border-top: 1px solid;
  }
  .toolbars .toolbar {
    width: 100%;
  }
  .sidebar-open .toolbars {
    display: block;
  }
  .content-wrapper {
    padding-bottom: 48px;
  }
}
.mini-profile {
  float: right;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .mini-profile {
    margin-left: 0;
  }
}
.sidebar {
  display: none;
  width: 310px;
  border-right: 1px solid;
}
.sidebar .options {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.sidebar .options li {
  padding: 10px 15px;
}
.sidebar .options li + li {
  border-top-width: 1px;
  border-top-style: solid;
}
.sidebar,
.content-wrapper {
  padding-top: 155px;
}
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    float: left;
    width: 0;
  }
  .sidebar.sidebar-open {
    width: 310px;
  }
  .content-wrapper {
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  body.sidebar-open {
    overflow: hidden;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -310px;
    padding-top: 0;
    overflow: auto;
    z-index: 1050;
  }
  .sidebar.sidebar-open {
    left: 0;
  }
  .sidebar-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
  }
  .sidebar-open .sidebar-backdrop {
    display: block;
  }
  .sidebar-open .mini-profile,
  .sidebar-open .toolbars {
    display: none;
  }
}
.home-menu .module-menu {
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  padding-bottom: 5px;
}
.home-menu .module-item {
  display: table-cell;
  padding: 10px 15px;
  width: 25%;
  text-align: center;
  vertical-align: middle;
}
.home-menu .home {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.home-menu .home:hover,
.home-menu .home:focus {
  text-decoration: none;
}
.menu {
  display: block;
  margin-bottom: 20px;
}
.menu .accordion-toggle {
  display: block;
  padding: 10px 15px;
  border-top: 1px solid;
}
.menu .accordion-toggle:before {
  content: '';
  display: block;
  float: right;
  margin-left: 5px;
  margin-top: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  opacity: .5;
}
.menu .panel.open .accordion-toggle:before {
  border-top: 4px solid transparent;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
}
.menu .panel.open .accordion-toggle,
.menu .accordion-toggle:hover,
.menu .accordion-toggle:focus {
  text-decoration: none;
}
.menu .panel-title {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.menu .panel-body {
  margin-bottom: 10px;
}
.menu .nav .divider {
  height: 1px;
  margin: 5px 15px;
}
.content-header .title {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 15px;
}
.content-header {
  padding: 10px 15px 0 15px;
}
.content-header-page {
  padding-bottom: 10px;
}
.content {
  padding: 10px 15px;
}
.content-data .no-data {
  text-align: center;
  font-style: italic;
}
.content-header-data .title {
  margin-top: 0;
  display: table;
  min-height: 28px;
}
.content-header-data .title span {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .content-header-data {
    display: none;
  }
  .content-data {
    padding: 0;
  }
  .content-data .no-data {
    margin: 20px;
  }
}
.filter-data {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  background-color: whitesmoke;
}
@media (max-width: 991px) {
  .filter-data {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
@media (max-width: 767px) {
  .filter-data {
    margin-bottom: 0;
  }
}
.tab-content {
  margin-top: 20px;
}
.nav-tabs > li {
  cursor: pointer;
}
.nav-tabs > li.active {
  cursor: default;
}
@media (max-width: 991px) {
  .nav-tabs {
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom-color: #428bca;
  }
  .nav-tabs > li {
    float: none;
    margin-bottom: 0;
    display: inline-block;
  }
  .nav-tabs > li > a {
    border: none;
    border-bottom: 2px solid transparent;
    color: #333333;
  }
  .nav-tabs > li > a:hover {
    background-color: transparent;
    border-color: #eeeeee;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #428bca;
  }
}
.loading-indicator {
  z-index: 1031;
  position: fixed;
  top: 153px;
  left: 0;
  right: 0;
  height: 2px;
  background-size: 40px 40px;
  background-image: -webkit-linear-gradient(45deg, #d9534f 25%, transparent 25%, transparent 50%, #d9534f 50%, #d9534f 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, #d9534f 25%, transparent 25%, transparent 50%, #d9534f 50%, #d9534f 75%, transparent 75%, transparent);
  -webkit-animation: progress-bar-stripes 0.5s linear infinite;
  animation: progress-bar-stripes 0.5s linear infinite;
}
.messages {
  z-index: 1031;
  position: fixed;
  right: 0;
  text-align: right;
}
.messages .alert {
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin: 5px 5px 0 5px;
  padding: 5px 10px;
}
.messages .alert .alert-body {
  min-width: 250px;
  max-width: 300px;
  text-align: left;
}
.messages .alert .close {
  margin-left: 10px;
}
@media print {
  .header {
    display: none;
  }
  .mini-profile {
    display: none !important;
  }
  .sidebar {
    display: none !important;
  }
  .content-wrapper {
    margin: 0;
    padding: 0;
  }
}
.toolbar {
  list-style: none;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.toolbar-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.btn-toolbar {
  min-width: 50px;
  width: 100%;
  border: none;
  background: transparent;
  margin: 0;
  padding: 10px;
}
.btn-toolbar .glyphicon {
  font-size: 18px;
}
.toolbar-search .toolbar-item-search form {
  padding-right: 15px;
}
.toolbar-search .toolbar-item-search .form-control {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-toolbar {
  color: #333333;
}
.btn-toolbar:hover,
.btn-toolbar:focus {
  color: #333333;
  background-color: #e4e4e4;
}
.btn-toolbar:active,
.btn-toolbar.active {
  color: #555555;
  background-color: #d6d6d6;
}
.btn-toolbar.disabled,
.btn-toolbar[disabled] {
  color: #cccccc;
  background-color: transparent;
}
.mini-profile .dropdown-toggle .label {
  font-weight: bold;
}
.mini-profile .dropdown-toggle .picture {
  width: 32px;
  height: auto;
  margin-top: -14px;
  margin-bottom: -10px;
  margin-left: 5px;
}
.mini-profile .dropdown-toggle .icon-dot {
  display: none;
}
@media (max-width: 767px) {
  .mini-profile .dropdown-toggle .label,
  .mini-profile .dropdown-toggle .picture,
  .mini-profile .dropdown-toggle .caret {
    display: none;
  }
  .mini-profile .dropdown-toggle .icon-dot {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    opacity: .5;
    margin-top: -1px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mini-profile .dropdown-toggle .icon-dot + .icon-dot {
    margin-top: 3px;
  }
}
.mini-profile .dropdown-menu {
  padding: 15px 15px 20px;
  min-width: 200px;
}
.mini-profile .dropdown-menu:before {
  right: 26px !important;
}
.mini-profile .dropdown-menu:after {
  right: 27px !important;
}
.mini-profile .picture,
.mini-profile .picture-large {
  border-radius: 100%;
}
.mini-profile .picture-large {
  display: block;
  margin: 5px auto;
}
.mini-profile .profile-data {
  margin-top: 10px;
  text-align: center;
}
.mini-profile .profile-data .display-name {
  font-size: 15px;
}
.mini-profile .profile-data .role {
  color: #555555;
  margin-bottom: 10px;
}
.mini-profile .profile-actions {
  min-width: 70px;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
.mini-profile .profile-actions .btn {
  float: right;
}
@media (max-width: 767px) {
  .mini-profile .open .dropdown-menu {
    background-color: #fff;
  }
  .mini-profile .open .dropdown-menu .profile-actions .btn {
    float: none;
  }
}
fieldset {
  margin-bottom: 25px;
}
legend {
  font-size: 13px;
  color: #a52a2a;
}
label {
  font-weight: normal;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-transparent {
  color: #333333;
  background-color: transparent;
  border-color: transparent;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active,
.open .dropdown-toggle.btn-transparent {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-transparent:active,
.btn-transparent.active,
.open .dropdown-toggle.btn-transparent {
  background-image: none;
}
.btn-transparent.disabled,
.btn-transparent[disabled],
fieldset[disabled] .btn-transparent,
.btn-transparent.disabled:hover,
.btn-transparent[disabled]:hover,
fieldset[disabled] .btn-transparent:hover,
.btn-transparent.disabled:focus,
.btn-transparent[disabled]:focus,
fieldset[disabled] .btn-transparent:focus,
.btn-transparent.disabled:active,
.btn-transparent[disabled]:active,
fieldset[disabled] .btn-transparent:active,
.btn-transparent.disabled.active,
.btn-transparent[disabled].active,
fieldset[disabled] .btn-transparent.active {
  background-color: transparent;
  border-color: transparent;
}
.action-link {
  display: inline-block;
  border: 1px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.428571429;
  margin-bottom: 10px;
}
.ng-dirty.ng-invalid {
  border-color: #a94442;
}
.ng-dirty.ng-invalid:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.modal-footer .btn,
.item-footer .btn {
  min-width: 80px;
}
.modal-footer .btn + .btn,
.item-footer .btn + .btn {
  margin-left: 10px;
}
.form-horizontal .form-group {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0;
}
.form-horizontal .radio-group,
.form-horizontal .checkbox-group {
  margin-bottom: 17px;
}
.form-horizontal .control-label {
  display: block;
  text-align: left;
}
@media (min-width: 992px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .form-horizontal .control-label {
    float: none !important;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    padding-top: 0;
  }
}
.form-horizontal .row .control-label {
  float: left;
}
.form-horizontal .row .control-label-stacked {
  float: none;
  text-align: left;
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555555;
  padding-top: 0;
}
.form-horizontal .form-control,
.form-horizontal .select2-container.form-control {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .form-horizontal .col-date {
    width: 140px;
  }
  .form-horizontal .col-currency {
    width: 150px;
  }
  .form-horizontal .col-integer {
    width: 80px;
  }
}
.form-horizontal .row {
  margin-left: -10px;
  margin-right: -10px;
}
.form-horizontal .col-xs-1,
.form-horizontal .col-xs-2,
.form-horizontal .col-xs-3,
.form-horizontal .col-xs-4,
.form-horizontal .col-xs-5,
.form-horizontal .col-xs-6,
.form-horizontal .col-xs-7,
.form-horizontal .col-xs-8,
.form-horizontal .col-xs-9,
.form-horizontal .col-xs-10,
.form-horizontal .col-xs-11,
.form-horizontal .col-xs-12,
.form-horizontal .col-sm-1,
.form-horizontal .col-sm-2,
.form-horizontal .col-sm-3,
.form-horizontal .col-sm-4,
.form-horizontal .col-sm-5,
.form-horizontal .col-sm-6,
.form-horizontal .col-sm-7,
.form-horizontal .col-sm-8,
.form-horizontal .col-sm-9,
.form-horizontal .col-sm-10,
.form-horizontal .col-sm-11,
.form-horizontal .col-sm-12,
.form-horizontal .col-md-1,
.form-horizontal .col-md-2,
.form-horizontal .col-md-3,
.form-horizontal .col-md-4,
.form-horizontal .col-md-5,
.form-horizontal .col-md-6,
.form-horizontal .col-md-7,
.form-horizontal .col-md-8,
.form-horizontal .col-md-9,
.form-horizontal .col-md-10,
.form-horizontal .col-md-11,
.form-horizontal .col-md-12,
.form-horizontal .col-lg-1,
.form-horizontal .col-lg-2,
.form-horizontal .col-lg-3,
.form-horizontal .col-lg-4,
.form-horizontal .col-lg-5,
.form-horizontal .col-lg-6,
.form-horizontal .col-lg-7,
.form-horizontal .col-lg-8,
.form-horizontal .col-lg-9,
.form-horizontal .col-lg-10,
.form-horizontal .col-lg-11,
.form-horizontal .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.form-horizontal .form-row {
  margin-left: -3px;
  margin-right: -3px;
}
.form-horizontal .form-row .form-col {
  padding-left: 3px;
  padding-right: 3px;
}
.form-horizontal .form-row > .control-label {
  padding-left: 3px;
  padding-right: 3px;
}
@media (max-width: 767px) {
  .form-inline .control-label {
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
  }
}
.table-data-wrapper {
  overflow-x: auto;
}
.table-data {
  border-collapse: collapse;
  width: 100%;
}
.table-data th,
.table-data td {
  border: 1px solid;
  padding: 8px;
}
.table-data td {
  vertical-align: top;
}
.table-data tr.group {
  cursor: pointer;
}
.table-data tr.group .caret {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333333;
  border-right: none;
  margin-left: 3px;
  margin-top: -4px;
  opacity: .5;
}
.table-data tr.group.open .caret {
  border-top: 4px solid transparent;
  border-right: 4px solid #333333;
  border-bottom: 4px solid #333333;
  border-left: 4px solid transparent;
  margin-left: 1px;
  margin-top: -5px;
}
.table-data .col-checkbox {
  width: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .table-data,
  .table-data colgroup,
  .table-data thead,
  .table-data tbody,
  .table-data tr,
  .table-data th,
  .table-data td {
    display: block;
  }
  .table-data colgroup {
    display: none;
  }
  .table-data thead {
    position: fixed;
    width: 0;
    height: 0;
    top: -999px;
    left: -999px;
  }
  .table-data th,
  .table-data td {
    border: none;
    padding: 0;
  }
  .table-data tr {
    position: relative;
    padding: 5px 35px 5px 15px;
    overflow: hidden;
    min-height: 62px;
    border-bottom: 1px solid;
    cursor: pointer;
  }
  .table-data td:nth-child(2) {
    font-size: 15px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-data td:nth-child(2):before,
  .table-data td:nth-child(2):after {
    content: " ";
    display: table;
  }
  .table-data td:nth-child(2):after {
    clear: both;
  }
  .table-data .col-checkbox {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px 15px;
    width: auto;
  }
  .table-data td:nth-child(n+3) {
    display: block;
    font-size: 11px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    max-height: 30px;
    overflow: hidden;
  }
  .table-data td:nth-child(n+3):before {
    content: attr(caption);
    font-weight: bold;
  }
  .table-data tr.group {
    min-height: 0;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .table-data tr.group td {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table-data tr.group .col-caret {
    display: none;
  }
  .table-data th.visible-xs,
  .table-data td.visible-xs {
    display: block !important;
  }
  .table-data .text-right {
    text-align: left;
  }
}
.table-data th,
.table-data td {
  border-color: #dddddd;
}
.table-data th {
  background-color: whitesmoke;
}
.table-data tr:hover,
.table-data tr:focus,
.table-data tr.selected {
  background-color: #f5f5f5;
}
.table-data tr.group,
.table-data tr.group:hover {
  background-color: #e8e8e8;
}
@media (max-width: 767px) {
  .table-data tr {
    border-color: #dddddd;
  }
  .table-data tr:active {
    background-color: #dcdcdc;
  }
  .table-data td:nth-child(n+3) {
    color: #999999;
  }
}
@media (max-width: 767px) {
  .filter-data .control-label {
    display: none;
  }
}
@media (min-width: 768px) {
  .table-data-project {
    min-width: 1200px;
  }
}
@media (min-width: 768px) {
  .table-data-employee {
    min-width: 1500px;
  }
}
.employee-form .photo {
  position: relative;
  width: 150px;
  height: 200px;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .employee-form .photo {
    position: absolute;
    right: 20px;
    z-index: 1;
  }
}
.employee-form .photo .drop-area {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px dashed #cccccc;
  cursor: pointer;
}
.employee-form .photo .drop-area label {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}
.employee-form .photo .drop-area-over {
  border-color: orange;
  background: #FFD9B3;
}
.employee-form .photo .thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.employee-form .photo .photo-action {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 15px 15px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0 100%;
}
.employee-form .photo .photo-action:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.dropdown-menu {
  -webkit-animation: dropdown-anim 0.35s ease;
  animation: dropdown-anim 0.35s ease;
}
@-webkit-keyframes dropdown-anim {
  from {
    opacity: 0;
    display: block;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dropdown-anim {
  from {
    opacity: 0;
    display: block;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
.ng-hide-remove,
.ng-hide-add {
  display: block !important;
}
.fade.ng-hide-remove,
.fade.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.fade.ng-hide-remove.ng-hide-remove-active,
.fade.ng-hide-add {
  opacity: 1;
}
.slide-reveal.ng-enter {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  position: relative;
  top: 10px;
}
.slide-reveal.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}
.navbar {
  -webkit-transition: height 0.1s ease;
  transition: height 0.1s ease;
}
.navbar-brand .title {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-bg {
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
@media (min-width: 992px) {
  .sidebar {
    -webkit-transition: width 0.53s ease;
    transition: width 0.53s ease;
  }
}
@media (max-width: 991px) {
  .sidebar {
    -webkit-transition: left 0.35s ease;
    transition: left 0.35s ease;
  }
}
.sidebar.sidebar-open,
.sidebar.ng-animate {
  display: block;
}
@media (min-width: 992px) {
  .sidebar.ng-animate .sidebar-inner {
    position: absolute;
    width: 310px;
    right: 0;
  }
}
.sidebar-backdrop {
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
.message.ng-enter,
.message.ng-leave {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: relative;
}
.message.ng-enter {
  opacity: 0;
  top: -30px;
}
.message.ng-enter.ng-enter-active,
.message.ng-leave {
  opacity: 1;
  top: 0;
}
.message.ng-leave.ng-leave-active {
  opacity: 0;
}
.navbar {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #428bca;
}
.navbar .navbar-brand {
  color: #333333;
}
.navbar .navbar-brand .sidebar-toggle .icon-bar {
  background-color: #333333;
  opacity: .5;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar .navbar-nav > li > a {
  color: #777777;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #333333;
  background-color: #e4e4e4;
}
.navbar .navbar-nav > li > a:active {
  background-color: #d6d6d6;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #d6d6d6;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #d6d6d6;
  color: #555555;
}
.navbar-inverse {
  color: #cccccc;
  background-color: #333333;
  border-color: #428bca;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-brand .sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-inverse .navbar-brand .sidebar-toggle .icon-bar {
  background-color: #cccccc;
  opacity: .95;
}
.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-inverse .navbar-nav > li > a:active {
  background-color: #1a1a1a;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a1a1a;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1a1a1a;
  color: #ffffff;
}
@media (min-width: 480px) {
  .navbar-inverse .btn-toolbar {
    color: #cccccc;
  }
  .navbar-inverse .btn-toolbar:hover,
  .navbar-inverse .btn-toolbar:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar-inverse .btn-toolbar:active,
  .navbar-inverse .btn-toolbar.active {
    color: #ffffff;
    background-color: #1a1a1a;
  }
  .navbar-inverse .btn-toolbar.disabled,
  .navbar-inverse .btn-toolbar[disabled] {
    color: #444444;
    background-color: transparent;
  }
  .navbar-inverse .toolbar-search .toolbar-item-search .form-control {
    color: #cccccc;
  }
}
@media (max-width: 479px) {
  .toolbars {
    border-color: #e0e0e0;
  }
}
.sidebar {
  background-color: #ffffff;
  border-color: #e0e0e0;
}
.sidebar .options,
.sidebar .options li {
  background-color: whitesmoke;
  border-color: #e0e0e0;
}
.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-menu .module-menu {
  background-color: whitesmoke;
}
.home-menu .home {
  color: inherit;
  border-color: #e0e0e0;
}
.home-menu .home:hover,
.home-menu .home:focus {
  background-color: #eeeeee;
}
.menu .accordion-toggle {
  color: inherit;
  cursor: pointer;
  border-color: transparent;
}
.menu .panel.open .accordion-toggle,
.menu .accordion-toggle:hover,
.menu .accordion-toggle:focus {
  background-color: whitesmoke;
  border-color: #e0e0e0;
}
.menu .panel:first-child .accordion-toggle {
  border-color: transparent;
}
.menu .nav .divider {
  background-color: #e5e5e5;
}
.home-menu .active,
.menu .active a {
  font-weight: bold;
  color: #a52a2a;
}
.loading-indicator {
  background-color: #eba5a3;
}
.messages .alert-success {
  border-color: #3c763d;
}
.messages .alert-info {
  border-color: #31708f;
}
.messages .alert-warning {
  border-color: #8a6d3b;
}
.messages .alert-danger {
  border-color: #a94442;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%2Fless%2Flayout.less%22%2C%22%2Flib%2Fbootstrap%2Fless%2Fmixins.less%22%2C%22%2Fless%2Ftoolbar.less%22%2C%22%2Fless%2Fmini-profile.less%22%2C%22%2Fless%2Fforms.less%22%2C%22%2Fless%2Fanimation.less%22%2C%22%2Fless%2Fapp.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAI%3BAAAO%3BEACT%2CWAAA%3BEACA%2CYAAA%3B%3BAAMM%3BEAEN%2CeAAA%3BEACA%2CaAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CaAAA%3BEACA%2CwBAAA%3B%3BACGC%2COAAO%3BAACP%2COAAO%3BEACN%2CSAAS%2CGAAT%3BEACA%2CcAAA%3B%3BAAED%2COAAO%3BEACN%2CWAAA%3B%3BADNO%3BEACT%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CsCAAA%3BEACA%2CsBAAA%3BEACA%2C2BAAA%3BEACA%2CWAAA%3B%3BAAGY%3BEAEZ%2CWAAA%3BEACA%2CsBAAA%3B%3BACbC%2CaAAO%3BAACP%2CaAAO%3BEACN%2CSAAS%2CGAAT%3BEACA%2CcAAA%3B%3BAAED%2CaAAO%3BEACN%2CWAAA%3B%3BADUD%2CQAFkC%3BEAElC%3BIADC%2CgBAAA%3B%3B%3BAALU%2CaAQL%3BEACL%2CeAAA%3BEAIA%2CsBAAsB%2C8CAAtB%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAAJC%2CQAFkC%3BEAElC%2CaAJI%3BIAGH%2CeAAA%3B%3B%3BAAXQ%2CaAkBF%3BEACR%2CeAAA%3BEACA%2CmBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAtBU%2CaAyBI%3BEACd%2CkBAAA%3BEACA%2CcAAA%3BEACA%2CQAAA%3BEACA%2CSAAA%3BEACA%2CaAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3B%3BAAhCU%2CaAyBI%2CgBAQJ%3BEACR%2CcAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3B%3BAACC%2CaAZW%2CgBAQJ%2CUAIM%3BEACZ%2CaAAA%3B%3BAAKA%2COAAc%2CcACb%3BEACL%2CeAAA%3BEACA%2CmBAAA%3B%3BAAHI%2COAAc%2CcAKV%3BEACR%2CaAAA%3B%3BAAIQ%2CWACL%2CKAAI%3BEACP%2CmBAAA%3BEACA%2CsBAAA%3BEACA%2CiBAAA%3BEACA%2CYAAA%3B%3BAALQ%2CWAOL%2CKAAiB%3BEACpB%2CgBAAA%3B%3BAAED%2CWAAc%2CaAAK%2CKAAgB%3BAAV1B%2CWAWL%2CKAAgB%2CiBAAc%3BEACjC%2CUAAA%3BEACA%2CQAAA%3B%3BAAOM%3BEACR%2CgBAAA%3B%3BAAgBD%2CQAd0C%3BEAC%2FB%3BIACR%2CkBAAA%3BIACA%2CSAAA%3BIACA%2COAAA%3BIACA%2CQAAA%3BIACA%2CoCAAA%3BIACA%2CmBAAA%3B%3BEAEM%2COAAU%3BIAChB%2CkBAAA%3BIACA%2C6BAAA%3BIACA%2CeAAA%3B%3B%3BAAGS%3BEACX%2CWAAA%3BEACA%2CYAAA%3B%3BAAMG%2CQAFkC%3BEAElC%2CQAJiB%2CaACG%3BEAGpB%2CQAJiB%2CaAC6B%3BIAE7C%2CaAAA%3B%3B%3BAAIE%2CQAAgB%3BEACtB%2CWAAA%3B%3BAADM%2CQAAgB%2CeAEH%3BEACjB%2CWAAA%3B%3BAAGI%2CQAAe%3BEACrB%2CgBAAA%3B%3BAAGC%2CQAFkC%3BEAElC%2CQAJoB%3BIAGnB%2CaAAA%3B%3B%3BAAWH%2CQAPkC%3BEACvB%2CSAAS%3BIACjB%2CYAAA%3B%3BEAEY%3BIACZ%2CcAAA%3B%3B%3BAAuBH%2CQAnB0C%3BEAC%2FB%3BIACR%2CeAAA%3BIACA%2CYAAA%3BIACA%2COAAA%3BIACA%2CQAAA%3BIACA%2CSAAA%3BIACA%2CmBAAA%3BIACA%2CqBAAA%3B%3BEAPQ%2CSAQC%3BIACP%2CWAAA%3B%3BEAGU%2CaAAU%3BIACtB%2CcAAA%3B%3BEAEe%3BIACf%2CoBAAA%3B%3B%3BAAIU%3BEACZ%2CYAAA%3BEACA%2CiBAAA%3B%3BAAGC%2CQAFkC%3BEAElC%3BIADC%2CcAAA%3B%3B%3BAAOK%3BEACP%2CaAAA%3BEACA%2CYAAA%3BEACA%2CuBAAA%3B%3BAAHO%2CQAIE%3BEACP%2CgBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CqBAAA%3BEACA%2CuBAAA%3BEACA%2CwBAAA%3BEACA%2C0BAAA%3B%3BAAXK%2CQAIE%2CSAQJ%3BEACD%2CkBAAA%3B%3BAAbG%2CQAIE%2CSAWJ%2CGAAK%3BEACN%2CqBAAA%3BEACA%2CuBAAA%3B%3BAAIE%3BAAAmB%3BEACzB%2CkBAAA%3B%3BAAeD%2CQAZkC%3BEACxB%3BIACP%2CkBAAA%3BIACA%2CWAAA%3BIACA%2CQAAA%3B%3BEAEM%2CQAAc%3BIACpB%2CYAAA%3B%3BEAEe%3BIACf%2CgBAAA%3B%3B%3BAAmCH%2CQA%2FBkC%3BEAC7B%2CIAAc%3BIAChB%2CgBAAA%3B%3BEAEO%3BIACP%2CeAAA%3BIACA%2CMAAA%3BIACA%2CSAAA%3BIACA%2CYAAA%3BIACA%2CcAAA%3BIACA%2CcAAA%3BIACA%2CaAAA%3B%3BEAEM%2CQAAc%3BIACpB%2COAAA%3B%3BEAEgB%3BIAChB%2CaAAA%3BIACA%2CeAAA%3BIACA%2CMAAA%3BIACA%2CQAAA%3BIACA%2CSAAA%3BIACA%2COAAA%3BIACA%2CaAAA%3B%3BEAEY%2CaAAkB%3BIAC9B%2CcAAA%3B%3BEAEY%2CaAAa%3BEAAgB%2CaAAU%3BIACnD%2CaAAA%3B%3B%3BAAOO%2CUACI%3BEACX%2CcAAA%3BEACA%2CmBAAA%3BEACA%2CyBAAA%3BEACA%2CoBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3B%3BAAPO%2CUAUI%3BEACX%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CsBAAA%3B%3BAAfO%2CUAkBH%3BEACJ%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CqBAAA%3BEACA%2CwBAAA%3B%3BAACC%2CUANG%2CMAMG%3BAAAG%2CUANN%2CMAMa%3BEACf%2CqBAAA%3B%3BAAKA%3BEACJ%2CcAAA%3BEACA%2CmBAAA%3B%3BAAFI%2CKAIc%3BEAChB%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CqBAAA%3B%3BAACC%2CKAJe%2CkBAIP%3BEACP%2CSAAS%2CEAAT%3BEACA%2CcAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CiCAAA%3BEACA%2CoCAAA%3BEACA%2CsBAAA%3BEACA%2CWAAA%3B%3BAAjBA%2CKAqBE%2COAAM%2CKAAiB%2CkBAAQ%3BEACnC%2CiCAAA%3BEACA%2CuBAAA%3BEACA%2CwBAAA%3BEACA%2CkCAAA%3B%3BAAzBE%2CKA2BE%2COAAM%2CKAAiB%3BAA3BzB%2CKA2B4C%2CkBAAM%3BAA3BlD%2CKA2BqE%2CkBAAO%3BEAC9E%2CqBAAA%3B%3BAA5BE%2CKA8BS%3BEACX%2CeAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAjCE%2CKAmCQ%3BEACV%2CmBAAA%3B%3BAApCE%2CKAsCC%2CKAAS%3BEACZ%2CWAAA%3BEACA%2CgBAAA%3B%3BAAOY%2CeAAO%3BEACrB%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CeAAA%3B%3BAAGc%3BEACd%2CyBAAA%3B%3BAAEmB%3BEACnB%2CoBAAA%3B%3BAAEO%3BEACP%2CkBAAA%3B%3BAAEY%2CaAAS%3BEACrB%2CkBAAA%3BEACA%2CkBAAA%3B%3BAAGmB%2CoBACZ%3BEACL%2CaAAA%3BEACA%2CcAAA%3BEACA%2CgBAAA%3B%3BAAJiB%2CoBACZ%2COAIA%3BEACH%2CmBAAA%3BEACA%2CsBAAA%3B%3BAAeL%2CQAVkC%3BEACZ%3BIACnB%2CaAAA%3B%3BEAEY%3BIACZ%2CUAAA%3B%3BEADY%2CaAEH%3BIACP%2CYAAA%3B%3B%3BAAKO%3BEACX%2CaAAA%3BEACA%2CmBAAA%3BEACA%2CyBAAA%3BEASA%2C4BAAA%3B%3BAAJC%2CQAJkC%3BEAIlC%3BIAHC%2CgBAAA%3BIACA%2CiBAAA%3BIACA%2CkBAAA%3B%3B%3BAAID%2CQAFkC%3BEAElC%3BIADC%2CgBAAA%3B%3B%3BAAQS%3BEACX%2CgBAAA%3B%3BAAEQ%2CSAAK%3BEACb%2CeAAA%3B%3BAAEQ%2CSAAI%2CKAAQ%3BEACpB%2CeAAA%3B%3BAAuCD%2CQArCkC%3BEACvB%3BIACR%2CiBAAA%3BIACA%2CkBAAA%3BIACA%2CmBAAA%3BIACA%2CkBAAA%3BIACA%2CmBAAA%3BIACA%2CgBAAA%3BIACA%2CmBAAA%3BIACA%2C4BAAA%3B%3BEARQ%2CSAUH%3BIACH%2CWAAA%3BIACA%2CgBAAA%3BIACA%2CqBAAA%3B%3BEAbM%2CSAUH%2CKAKC%3BIACF%2CYAAA%3BIACA%2CoCAAA%3BIACA%2CcAAA%3B%3BEACC%2CSATA%2CKAKC%2CIAIM%3BIACN%2C6BAAA%3BIACA%2CqBAAA%3B%3BEAKD%2CSAhBA%2CKAeM%2COAAI%3BEAEV%2CSAjBA%2CKAeM%2COAAI%2CIAEJ%3BEACN%2CSAlBA%2CKAeM%2COAAI%2CIAGH%3BIACN%2CiBAAA%3BIACA%2CYAAA%3BIACA%2CgCAAA%3B%3B%3BAAUS%3BEACjB%2CaAAA%3BEACA%2CeAAA%3BEACA%2CUAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CWAAA%3BEACA%2C0BAAA%3BEC7IE%2CkBAAkB%2CqIAAlB%3BEACA%2CkBAAkB%2C6HAAlB%3BEArHF%2C4DAAA%3BEACQ%2CoDAAA%3B%3BADqQA%3BEACR%2CaAAA%3BEACA%2CeAAA%3BEACA%2CQAAA%3BEACA%2CiBAAA%3B%3BAAJQ%2CSAMD%3BEACL%2CqBAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CwBAAA%3BECnWF%2CmDAAA%3BEACQ%2C2CAAA%3BEDoWN%2CqBAAA%3BEACA%2CiBAAA%3B%3BAAdM%2CSAMD%2COASO%3BEACV%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3B%3BAAlBI%2CSAMD%2COAcE%3BEACL%2CiBAAA%3B%3BAAaL%3BEAJS%3BIAAE%2CaAAA%3B%3BEACI%3BIAAE%2CwBAAA%3B%3BEACP%3BIAAE%2CwBAAA%3B%3BEACM%3BIAAE%2CSAAA%3BIAAW%2CUAAA%3B%3B%3BAE%2FevB%3BEACP%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CmBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3B%3BAAEY%3BEACZ%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CsBAAA%3B%3BAAEW%3BEACX%2CeAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CuBAAA%3BEACA%2CSAAA%3BEACA%2CaAAA%3B%3BAANW%2CYAOA%3BEACT%2CeAAA%3B%3BAAIY%2CeAAqB%2CqBAC9B%3BEACH%2CmBAAA%3B%3BAAFY%2CeAAqB%2CqBAIrB%3BEACZ%2CcAAA%3BEACA%2C0CAAA%3B%3BAAIS%3BEACX%2CcAAA%3B%3BAACC%2CYAAM%3BAAAG%2CYAAO%3BEACf%2CcAAA%3BEACA%2CyBAAA%3B%3BAAED%2CYAAO%3BAAAG%2CYAAQ%3BEACjB%2CcAAA%3BEACA%2CyBAAA%3B%3BAAED%2CYAAS%3BAAAG%2CYAAW%3BEACtB%2CcAAA%3BEACA%2C6BAAA%3B%3BAC9CU%2CaACK%2CiBACR%3BEACL%2CiBAAA%3B%3BAAHQ%2CaACK%2CiBAKN%3BEACP%2CWAAA%3BEACA%2CYAAA%3BEACA%2CiBAAA%3BEACA%2CoBAAA%3BEACA%2CgBAAA%3B%3BAAXQ%2CaACK%2CiBAaL%3BEACR%2CaAAA%3B%3BAAsBD%2CQAnBkC%3BEAmBlC%2CaApCc%2CiBAkBP%3BEAkBP%2CaApCc%2CiBAkBG%3BEAkBjB%2CaApCc%2CiBAkBY%3BIACvB%2CaAAA%3B%3BEAiBH%2CaApCc%2CiBAqBH%3BIACR%2CcAAA%3BIACA%2CQAAA%3BIACA%2CSAAA%3BIACA%2CmBAAA%3BIACA%2CkBAAA%3BIACA%2CiBAAA%3BIACA%2CWAAA%3BIACA%2CgBAAA%3BIACA%2CiBAAA%3BIACA%2CkBAAA%3B%3BEAKH%2CaApCc%2CiBAiCJ%2CUAAW%3BIAClB%2CeAAA%3B%3B%3BAAnCM%2CaAwCG%3BEACb%2CuBAAA%3BEACA%2CgBAAA%3B%3BAACC%2CaAHY%2CeAGJ%3BEACP%2CsBAAA%3B%3BAAED%2CaANY%2CeAML%3BEACN%2CsBAAA%3B%3BAA%2FCQ%2CaAmDJ%3BAAnDI%2CaAmDa%3BEACvB%2CmBAAA%3B%3BAApDU%2CaAsDG%3BEACb%2CcAAA%3BEACA%2CgBAAA%3B%3BAAxDU%2CaA0DE%3BEACZ%2CgBAAA%3BEACA%2CkBAAA%3B%3BAA5DU%2CaA0DE%2CcAGE%3BEACZ%2CeAAA%3B%3BAA9DQ%2CaA0DE%2CcAMN%3BEACJ%2CcAAA%3BEACA%2CmBAAA%3B%3BAAlEQ%2CaAqEK%3BEACf%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3BEACA%2C6BAAA%3B%3BAAzEU%2CaAqEK%2CiBAKV%3BEACH%2CYAAA%3B%3BAAYL%2CQAPkC%3BEACnB%2CaAAM%2CMAAe%3BIACjC%2CsBAAA%3B%3BEADY%2CaAAM%2CMAAe%2CeAEhB%2CiBAAK%3BIACpB%2CWAAA%3B%3B%3BAChFG%3BEACP%2CmBAAA%3B%3BAAEK%3BEACL%2CeAAA%3BEACA%2CcAAA%3B%3BAAEI%3BEACJ%2CmBAAA%3B%3BAAGY%3BEHuGZ%2CwBAAA%3BEACQ%2CgBAAA%3B%3BAGrGN%2CIAAO%3BAAAM%2CIAAQ%3BEHoGvB%2CwBAAA%3BEACQ%2CgBAAA%3B%3BAGjGO%3BEACf%2CcAAA%3BEACA%2C6BAAA%3BEACA%2CyBAAA%3B%3BAAEC%2CgBAAM%3BAACN%2CgBAAM%3BAACN%2CgBAAO%3BAACP%2CgBAAO%3BAACF%2CKAAgB%2CiBAAE%3BEACtB%2CcAAA%3BEACA%2CyBAAA%3BEACI%2CqBAAA%3B%3BAAEL%2CgBAAO%3BAACP%2CgBAAO%3BAACF%2CKAAgB%2CiBAAE%3BEACtB%2CsBAAA%3B%3BAAKC%2CgBAHO%3BAAGP%2CgBAFQ%3BAAER%2CQADgB%2CUAAE%3BAAElB%2CgBAJO%2CSAID%3BAAAN%2CgBAHQ%2CUAGF%3BAAAN%2CQAFgB%2CUAAE%2CiBAEZ%3BAACN%2CgBALO%2CSAKD%3BAAAN%2CgBAJQ%2CUAIF%3BAAAN%2CQAHgB%2CUAAE%2CiBAGZ%3BAACN%2CgBANO%2CSAMA%3BAAAP%2CgBALQ%2CUAKD%3BAAAP%2CQAJgB%2CUAAE%2CiBAIX%3BAACP%2CgBAPO%2CSAOC%3BAAAR%2CgBANQ%2CUAMA%3BAAAR%2CQALgB%2CUAAE%2CiBAKV%3BEACP%2C6BAAA%3BEACI%2CyBAAA%3B%3BAAKG%3BEACX%2CqBAAA%3BEACA%2C6BAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CwBAAA%3BEACA%2CmBAAA%3B%3BAAGO%2CSAAY%3BEAEnB%2CqBAAA%3B%3BAACC%2CSAHkB%2CWAGX%3BEACN%2CqBAAA%3BEHkDF%2CyEAAA%3BEACQ%2CiEAAA%3B%3BAG1CI%2CaAAI%3BAAAe%2CYAAK%3BEACpC%2CeAAA%3B%3BAADY%2CaAAI%2CKAET%3BAAFwB%2CYAAK%2CKAE7B%3BEACL%2CiBAAA%3B%3BAAIa%2CgBACH%3BEACV%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3B%3BAALa%2CgBAQH%3BAARG%2CgBAQe%3BEAC5B%2CmBAAA%3B%3BAATa%2CgBAYA%3BEACb%2CcAAA%3BEACA%2CgBAAA%3B%3BAAGC%2CQAFkC%3BEAElC%2CgBALY%3BIAIX%2CiBAAA%3B%3B%3BAASD%2CQAPkC%3BEAOlC%2CgBAbY%3BIAOX%2CsBAAA%3BIACA%2CcAAA%3BIACA%2CiBAAA%3BIACA%2CyBAAA%3BIACA%2CcAAA%3BIACA%2CcAAA%3B%3B%3BAAxBW%2CgBA2BV%2CKAAe%3BEAClB%2CWAAA%3B%3BAA5Ba%2CgBA%2BBV%2CKAAuB%3BEAC1B%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CiBAAA%3BEACA%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CcAAA%3B%3BAAtCa%2CgBAyCF%3BAAzCE%2CgBAyCkB%2CmBAAc%3BEAC7C%2CmBAAA%3B%3BAAaD%2CQAVkC%3BEAUlC%2CgBATW%3BIACR%2CYAAA%3B%3BEAQH%2CgBANe%3BIACZ%2CYAAA%3B%3BEAKH%2CgBAHc%3BIACX%2CWAAA%3B%3B%3BAArDW%2CgBAyDV%3BEACH%2CkBAAA%3BEACA%2CmBAAA%3B%3BAA3Da%2CgBA6DN%3BAA7DM%2CgBA6DK%3BAA7DL%2CgBA6DgB%3BAA7DhB%2CgBA6D2B%3BAA7D3B%2CgBA6DsC%3BAA7DtC%2CgBA6DiD%3BAA7DjD%2CgBA6D4D%3BAA7D5D%2CgBA6DuE%3BAA7DvE%2CgBA6DkF%3BAA7DlF%2CgBA6D8F%3BAA7D9F%2CgBA6D0G%3BAA7D1G%2CgBA6DsH%3BAA7DtH%2CgBA8DN%3BAA9DM%2CgBA8DK%3BAA9DL%2CgBA8DgB%3BAA9DhB%2CgBA8D2B%3BAA9D3B%2CgBA8DsC%3BAA9DtC%2CgBA8DiD%3BAA9DjD%2CgBA8D4D%3BAA9D5D%2CgBA8DuE%3BAA9DvE%2CgBA8DkF%3BAA9DlF%2CgBA8D8F%3BAA9D9F%2CgBA8D0G%3BAA9D1G%2CgBA8DsH%3BAA9DtH%2CgBA%2BDN%3BAA%2FDM%2CgBA%2BDK%3BAA%2FDL%2CgBA%2BDgB%3BAA%2FDhB%2CgBA%2BD2B%3BAA%2FD3B%2CgBA%2BDsC%3BAA%2FDtC%2CgBA%2BDiD%3BAA%2FDjD%2CgBA%2BD4D%3BAA%2FD5D%2CgBA%2BDuE%3BAA%2FDvE%2CgBA%2BDkF%3BAA%2FDlF%2CgBA%2BD8F%3BAA%2FD9F%2CgBA%2BD0G%3BAA%2FD1G%2CgBA%2BDsH%3BAA%2FDtH%2CgBAgEN%3BAAhEM%2CgBAgEK%3BAAhEL%2CgBAgEgB%3BAAhEhB%2CgBAgE2B%3BAAhE3B%2CgBAgEsC%3BAAhEtC%2CgBAgEiD%3BAAhEjD%2CgBAgE4D%3BAAhE5D%2CgBAgEuE%3BAAhEvE%2CgBAgEkF%3BAAhElF%2CgBAgE8F%3BAAhE9F%2CgBAgE0G%3BAAhE1G%2CgBAgEuH%3BEACpI%2CkBAAA%3BEACA%2CmBAAA%3B%3BAAlEa%2CgBAqEL%3BEACR%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAvEa%2CgBAqEL%2CUAGE%3BEACR%2CiBAAA%3BEACA%2CkBAAA%3B%3BAA1EW%2CgBAqEL%2CUAOS%3BEACf%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAWH%2CQALkC%3BEAKlC%2CYANyB%3BIAExB%2CcAAA%3BIACA%2CiBAAA%3BIACA%2CyBAAA%3BIACA%2CcAAA%3B%3B%3BAAOgB%3BEAClB%2CgBAAA%3B%3BAAGU%3BEACV%2CyBAAA%3BEACA%2CWAAA%3B%3BAAFU%2CWAIR%3BAAJQ%2CWAIH%3BEACL%2CiBAAA%3BEACA%2CYAAA%3B%3BAANQ%2CWAQP%3BEACD%2CmBAAA%3B%3BAATQ%2CWAWR%2CGAAO%3BEACP%2CeAAA%3B%3BAAZQ%2CWAWR%2CGAAO%2CMAEA%3BEACL%2CiCAAA%3BEACA%2CoCAAA%3BEACA%2C8BAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3B%3BAAED%2CWAXD%2CGAAO%2CMAWA%2CKAAO%3BEACZ%2CiCAAA%3BEACA%2C%2BBAAA%3BEACA%2CgCAAA%3BEACA%2CkCAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3B%3BAA5BM%2CWAgCI%3BEACZ%2CWAAA%3BEACA%2CkBAAA%3B%3BAAgFD%2CQA7EkC%3BEAChC%3BEA4EF%2CWA5EY%3BEA4EZ%2CWA5EmB%3BEA4EnB%2CWA5E0B%3BEA4E1B%2CWA5E8B%3BEA4E9B%2CWA5EkC%3BEA4ElC%2CWA5EuC%3BIACpC%2CcAAA%3B%3BEA2EH%2CWAzEU%3BIACP%2CaAAA%3B%3BEAwEH%2CWAtEO%3BIACJ%2CeAAA%3BIACA%2CQAAA%3BIACA%2CSAAA%3BIACA%2CWAAA%3BIACA%2CYAAA%3B%3BEAiEH%2CWA%2FDG%3BEA%2BDH%2CWA%2FDQ%3BIACL%2CYAAA%3BIACA%2CUAAA%3B%3BEA6DH%2CWA3DI%3BIACD%2CkBAAA%3BIACA%2C0BAAA%3BIACA%2CgBAAA%3BIACA%2CgBAAA%3BIACA%2CwBAAA%3BIACA%2CeAAA%3B%3BEAqDH%2CWAnDG%2CGAAU%2CUAAI%3BIAEd%2CeAAA%3BIACA%2CkBAAA%3BIACA%2CmBAAA%3BIACA%2CgBAAA%3BIACA%2CuBAAA%3B%3BEHzOH%2CWGmOG%2CGAAU%2CUAAI%2CGHnOV%3BEACP%2CWGkOG%2CGAAU%2CUAAI%2CGHlOV%3BIACN%2CSAAS%2CGAAT%3BIACA%2CcAAA%3B%3BEAED%2CWG8NG%2CGAAU%2CUAAI%2CGH9NV%3BIACN%2CWAAA%3B%3BEGgRD%2CWA3Ce%3BIACZ%2CkBAAA%3BIACA%2CkBAAA%3BIACA%2CMAAA%3BIACA%2CSAAA%3BIACA%2CQAAA%3BIACA%2CkBAAA%3BIACA%2CWAAA%3B%3BEAoCH%2CWAlCG%2CGAAU%2CUAAM%3BIAChB%2CcAAA%3BIACA%2CeAAA%3BIACA%2CcAAA%3BIACA%2CiBAAA%3BIACA%2CkBAAA%3BIACA%2CgBAAA%3BIACA%2CgBAAA%3B%3BEA2BH%2CWAzBG%2CGAAU%2CUAAK%2CKAAQ%3BIACvB%2CSAAS%2CaAAT%3BIACA%2CiBAAA%3B%3BEAuBH%2CWArBG%2CGAAO%3BIACP%2CaAAA%3BIACA%2CgBAAA%3BIACA%2CmBAAA%3B%3BEAkBH%2CWArBG%2CGAAO%2CMAIJ%3BIACD%2CcAAA%3BIACA%2CiBAAA%3BIACA%2CyBAAA%3B%3BEAcL%2CWArBG%2CGAAO%2CMASI%3BIACT%2CaAAA%3B%3BEAWL%2CWARG%2CGAAW%3BEAQd%2CWARkB%2CGAAY%3BIAE3B%2CyBAAA%3B%3BEAMH%2CWAJa%3BIAEV%2CgBAAA%3B%3B%3BAAKM%2CWACR%3BAADQ%2CWACH%3BEACL%2CqBAAA%3B%3BAAFQ%2CWAIP%3BEACD%2C4BAAA%3B%3BAALQ%2CWAOR%2CGAAM%3BAAPE%2CWAOE%2CGAAM%3BAAPR%2CWAOY%2CGAAU%3BEAC9B%2CyBAAA%3B%3BAAGC%2CWADD%2CGAAO%3BAACH%2CWADJ%2CGAAO%2CMACI%3BEACT%2CyBAAA%3B%3BAAcH%2CQAVkC%3BEAUlC%2CWATI%3BIACD%2CqBAAA%3B%3BEAQH%2CWANG%2CGAAQ%3BIACR%2CyBAAA%3B%3BEAKH%2CWAHG%2CGAAU%2CUAAM%3BIAChB%2CcAAA%3B%3B%3BAAWH%2CQAFkC%3BEAElC%2CYAHyB%3BIAExB%2CaAAA%3B%3B%3BAAaH%2CQAJkC%3BEACb%3BIAClB%2CiBAAA%3B%3B%3BAAUH%2CQAJkC%3BEACZ%3BIACnB%2CiBAAA%3B%3B%3BAAIW%2CcACN%3BEACL%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CaAAA%3BEACA%2CmBAAA%3B%3BAAKC%2CQAJkC%3BEAIlC%2CcATI%3BIAMH%2CkBAAA%3BIACA%2CWAAA%3BIACA%2CUAAA%3B%3B%3BAATS%2CcACN%2COAWM%3BEACT%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2C0BAAA%3BEACA%2CeAAA%3B%3BAAjBS%2CcACN%2COAWM%2CWAMH%3BEACJ%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CiBAAA%3BEACA%2CeAAA%3B%3BAAxBO%2CcACN%2COA0BW%3BEACd%2CoBAAA%3BEACA%2CmBAAA%3B%3BAA7BS%2CcACN%2COA8BE%3BEACL%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CsBAAA%3BEACA%2C2BAAA%3B%3BAApCS%2CcACN%2COAqCS%3BEACZ%2CWAAA%3BEACA%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CQAAA%3BEACA%2C4BAAA%3BEACA%2CcAAA%3BEACA%2CoCAAA%3BEACA%2CyBAAA%3B%3BAA9CS%2CcACN%2COA%2BCQ%2CcAAO%3BEAClB%2CoCAAA%3B%3BACnZI%3BEACR%2CaAAA%3B%3BAACC%2CSAAI%3BEACH%2CcAAA%3B%3BAAGQ%3BEACV%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CgBAAA%3BEJgHA%2CqCAAA%3BEACQ%2C6BAAA%3B%3BAI7GK%3BEJwLb%2C2CAAA%3BEACQ%2CmCAAA%3B%3BAIhEV%3BEApHO%3BIACH%2CUAAA%3BIACA%2CcAAA%3BIACA%2CmBAAmB%2CWAAnB%3BIACA%2CWAAW%2CWAAX%3BIACA%2C%2BBAAA%3BIACA%2CuBAAA%3B%3BEAEC%3BIACD%2CUAAA%3B%3B%3BAA2GJ%3BEAtGO%3BIACH%2CUAAA%3BIACA%2CcAAA%3BIACA%2CmBAAmB%2CWAAnB%3BIACA%2CWAAW%2CWAAX%3BIACA%2C%2BBAAA%3BIACA%2CuBAAA%3B%3BEAEC%3BIACD%2CUAAA%3BIACA%2CSAAA%3B%3B%3BAAOW%3BAAAe%3BEAC5B%2CyBAAA%3B%3BAAIC%2CKAAe%3BAAAG%2CKAAY%2CYAAoB%3BEACjD%2CUAAA%3B%3BAAED%2CKAAe%2CeAAsB%3BAAAG%2CKAAa%3BEACpD%2CUAAA%3B%3BAAKD%2CaAAU%3BEJ0DX%2CkCAAA%3BEACQ%2C0BAAA%3BEIzDN%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CSAAA%3B%3BAAED%2CaAAS%2CSAAiB%3BEACzB%2CUAAA%3BEACA%2CMAAA%3B%3BAAOI%3BEJ2CN%2CoCAAA%3BEACQ%2C4BAAA%3B%3BAIzCI%2CaAAO%3BEJwCnB%2CiCAAA%3BEACQ%2CyBAAA%3B%3BAItCC%3BEJqCT%2CuCAAA%3BEACQ%2C%2BBAAA%3B%3BAI5BP%2CQAFiC%3BEAEjC%3BIJ2BD%2CoCAAA%3BIACQ%2C4BAAA%3B%3B%3BAIzBP%2CQAFiC%3BEAEjC%3BIJwBD%2CmCAAA%3BIACQ%2C2BAAA%3B%3B%3BAIvBF%2CQAAa%3BAAAU%2CQAAY%3BEACzC%2CcAAA%3B%3BAAQD%2CQANkC%3BEACzB%2CQAAY%2CWAAe%3BIACjC%2CkBAAA%3BIACA%2CYAAA%3BIACA%2CQAAA%3B%3B%3BAAGc%3BEJYhB%2CsCAAA%3BEACQ%2C8BAAA%3B%3BAILP%2CQAAS%3BAAAG%2CQAAU%3BEJIvB%2CkCAAA%3BEACQ%2C0BAAA%3BEIHN%2CkBAAA%3B%3BAAED%2CQAAU%3BEACT%2CUAAA%3BEACA%2CUAAA%3B%3BAAED%2CQAAS%2CSAAgB%3BAAAG%2CQAAU%3BEACrC%2CUAAA%3BEACA%2CMAAA%3B%3BAAED%2CQAAS%2CSAAiB%3BEACzB%2CUAAA%3B%3BACrHI%3BEACN%2CcAAA%3BEACA%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAHM%2COAKQ%3BEACZ%2CcAAA%3B%3BAANI%2COAKQ%2CcAEI%2CgBACJ%3BEACR%2CyBAAA%3BEACA%2CWAAA%3B%3BAAGH%2COARW%2CcAQL%3BAAAG%2COARE%2CcAQK%3BEACf%2CcAAA%3BEACA%2C6BAAA%3B%3BAAfE%2COAmBM%2CYACL%2CKAAI%3BEACP%2CcAAA%3B%3BAACC%2COAHO%2CYACL%2CKAAI%2CIAEA%3BAAAG%2COAHF%2CYACL%2CKAAI%2CIAEU%3BEACf%2CcAAA%3BEACA%2CyBAAA%3B%3BAAED%2COAPO%2CYACL%2CKAAI%2CIAME%3BEACP%2CyBAAA%3B%3BAAID%2COAZO%2CYAWA%2CUAAI%3BAACR%2COAZI%2CYAWA%2CUAAI%2CIACF%3BAAAG%2COAZL%2CYAWA%2CUAAI%2CIACQ%3BEAClB%2CcAAA%3BEACA%2CyBAAA%3B%3BAAID%2COAlBO%2CYAiBE%2CYAAI%3BAACV%2COAlBI%2CYAiBE%2CYAAI%2CIACJ%3BAAAG%2COAlBL%2CYAiBE%2CYAAI%2CIACM%3BEAClB%2CcAAA%3BEACA%2C6BAAA%3B%3BAAID%2COAxBO%2CYAuBF%2CQAAI%3BAACN%2COAxBI%2CYAuBF%2CQAAI%2CIACA%3BAAAG%2COAxBL%2CYAuBF%2CQAAI%2CIACU%3BEAClB%2CyBAAA%3BEACA%2CcAAA%3B%3BAAMQ%3BEACd%2CcAAA%3BEACA%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAGG%2CeADW%3BAACR%2CeADQ%2CcACF%3BAAAG%2CeADD%2CcACQ%3BEAClB%2CcAAA%3B%3BAAGC%2CeALS%2CcAII%2CgBACN%3BEACN%2CoCAAA%3B%3BAAXQ%2CeAKA%2CcAII%2CgBAIJ%3BEACR%2CyBAAA%3BEACA%2CYAAA%3B%3BAAfQ%2CeAoBF%2CYACL%2CKAAI%3BEACP%2CcAAA%3B%3BAACC%2CeAHO%2CYACL%2CKAAI%2CIAEA%3BAAAG%2CeAHF%2CYACL%2CKAAI%2CIAEU%3BEACf%2CcAAA%3BEACA%2CoCAAA%3B%3BAAED%2CeAPO%2CYACL%2CKAAI%2CIAME%3BEACP%2CyBAAA%3B%3BAAID%2CeAZO%2CYAWA%2CUAAI%3BAACR%2CeAZI%2CYAWA%2CUAAI%2CIACF%3BAAAG%2CeAZL%2CYAWA%2CUAAI%2CIACQ%3BEAClB%2CcAAA%3BEACA%2CyBAAA%3B%3BAAID%2CeAlBO%2CYAiBE%2CYAAI%3BAACV%2CeAlBI%2CYAiBE%2CYAAI%2CIACJ%3BAAAG%2CeAlBL%2CYAiBE%2CYAAI%2CIACM%3BEAClB%2CcAAA%3BEACA%2C6BAAA%3B%3BAAID%2CeAxBO%2CYAuBF%2CQAAI%3BAACN%2CeAxBI%2CYAuBF%2CQAAI%2CIACA%3BAAAG%2CeAxBL%2CYAuBF%2CQAAI%2CIACU%3BEAClB%2CyBAAA%3BEACA%2CcAAA%3B%3BAA2BP%2CQArBkC%3BEACjB%2CeACD%3BIACX%2CcAAA%3B%3BEACC%2CeAFU%2CaAEJ%3BEAAG%2CeAFC%2CaAEM%3BIACf%2CcAAA%3BIACA%2CoCAAA%3B%3BEAED%2CeANU%2CaAMH%3BEAAG%2CeANA%2CaAMQ%3BIACjB%2CcAAA%3BIACA%2CyBAAA%3B%3BEAED%2CeAVU%2CaAUD%3BEAAG%2CeAVF%2CaAUa%3BIACtB%2CcAAA%3BIACA%2C6BAAA%3B%3BEAbU%2CeAgBE%2CgBAAqB%2CqBAAc%3BIACjD%2CcAAA%3B%3B%3BAASL%2CQAJ0C%3BEAC%2FB%3BIACR%2CqBAAA%3B%3B%3BAAOK%3BEACP%2CyBAAA%3BEACA%2CqBAAA%3B%3BAAFO%2CQAGC%3BAAHD%2CQAGY%2CSAAG%3BEACpB%2C4BAAA%3BEACA%2CqBAAA%3B%3BAAGc%3BEAChB%2CoCAAA%3B%3BAAMS%2CUACI%3BEACX%2C4BAAA%3B%3BAAFO%2CUAIH%3BEACJ%2CcAAA%3BEACA%2CqBAAA%3B%3BAACC%2CUAHG%2CMAGG%3BAAAG%2CUAHN%2CMAGa%3BEACf%2CyBAAA%3B%3BAAKA%2CKACc%3BEAChB%2CcAAA%3BEACA%2CeAAA%3BEACA%2CyBAAA%3B%3BAAJE%2CKAOE%2COAAM%2CKAAiB%3BAAPzB%2CKAO4C%2CkBAAM%3BAAPlD%2CKAOqE%2CkBAAO%3BEAC9E%2C4BAAA%3BEACA%2CqBAAA%3B%3BAATE%2CKAWE%2COAAa%2CYAAkB%3BEACnC%2CyBAAA%3B%3BAAZE%2CKAcC%2CKAAS%3BEACZ%2CyBAAA%3B%3BAAIO%2CUAAO%3BAAAQ%2CKAAQ%2CQAAE%3BEAClC%2CiBAAA%3BEACA%2CcAAA%3B%3BAAMiB%3BEACjB%2CyBAAA%3B%3BAAGQ%2CSACO%3BEACb%2CqBAAA%3B%3BAAFM%2CSAII%3BEACV%2CqBAAA%3B%3BAALM%2CSAOO%3BEACb%2CqBAAA%3B%3BAARM%2CSAUM%3BEACZ%2CqBAAA%22%7D */