html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  padding: 0 0 60px;
}
footer {
  height: 50px;
}
header {
  background-color: whitesmoke;
  border-bottom: 3px solid #428bca;
}
header .header-inner {
  padding: 15px 0;
}
header .title {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin: 0;
  color: #555555;
}
@media (max-width: 767px) {
  header .header-inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .title {
    font-size: 15px;
  }
}
.container > .row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.login-area {
  padding: 0 10px;
}
.login-area .title {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
  color: #aaa;
}
.login-area .login-form .btn,
.login-area .login-form .form-control {
  font-size: 15px;
  font-weight: normal;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}
.login-area .login-form .btn {
  padding-left: 20px;
  padding-right: 20px;
}
.login-area .login-form .checkbox {
  font-size: 13px;
  font-weight: normal;
}
.login-area .login-help {
  margin-top: 40px;
}
.login-area .login-help li {
  margin-bottom: 10px;
}
.info-area .info-background {
  background: url(/img/security.jpg) center;
  background-size: cover;
  height: 420px;
}
.info-area .info-message {
  padding: 10px;
  color: #fff;
  background: #428bca;
}
footer > .container {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}
footer > a {
  margin-right: 20px;
}
footer .pull-right > a {
  margin-left: 20px;
}
footer .company-link {
  font-weight: bold;
  color: #999999;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%2Fless%2Fsticky-footer.less%22%2C%22%2Fless%2Flogin.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAI%3BAACC%3BEAEH%2CYAAA%3B%3BAAII%3BEACJ%2CgBAAA%3BEACA%2CuBAAA%3BEACA%2CYAAA%3BEAEA%2CoBAAA%3BEAEA%2CiBAAA%3B%3BAAIK%3BEACL%2CYAAA%3B%3BACRK%3BEACL%2C4BAAA%3BEACA%2CgCAAA%3B%3BAAFK%2CMAIS%3BEACZ%2CeAAA%3B%3BAALG%2CMAOE%3BEACL%2CsBAAsB%2C8CAAtB%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CSAAA%3BEACA%2CcAAA%3B%3BAAaH%2CQAVkC%3BEAC1B%2CMACS%3BIACZ%2CiBAAA%3BIACA%2CoBAAA%3B%3BEAHG%2CMAKE%3BIACL%2CeAAA%3B%3B%3BAAQK%2CUAAO%3BEAChB%2CgBAAA%3BEACA%2CmBAAA%3B%3BAAGU%3BEACV%2CeAAA%3B%3BAADU%2CWAGH%3BEACL%2CsBAAsB%2C8CAAtB%3BEACA%2CaAAA%3BEACA%2CmBAAA%3BEACA%2CWAAA%3B%3BAAPQ%2CWAUE%2CYACN%3BAAXI%2CWAUE%2CYACU%3BEAClB%2CeAAA%3BEACA%2CmBAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3B%3BAAhBM%2CWAUE%2CYAQL%3BEACH%2CkBAAA%3BEACA%2CmBAAA%3B%3BAApBM%2CWAUE%2CYAYA%3BEACR%2CeAAA%3BEACA%2CmBAAA%3B%3BAAxBM%2CWA2BE%3BEACV%2CgBAAA%3B%3BAA5BQ%2CWA2BE%2CYAEP%3BEAAE%2CmBAAA%3B%3BAAIE%2CUACQ%3BEACf%2CyCAAA%3BEACA%2CsBAAA%3BEACA%2CaAAA%3B%3BAAJO%2CUAMK%3BEACZ%2CaAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3B%3BAAOG%2CMACQ%3BEACX%2C6BAAA%3BEACA%2CiBAAA%3B%3BAAHG%2CMAKD%3BEACF%2CkBAAA%3B%3BAANG%2CMAQO%2CYAAI%3BEACd%2CiBAAA%3B%3BAATG%2CMAWS%3BEACZ%2CiBAAA%3BEACA%2CcAAA%22%7D */