<form name="project_form" class="form-horizontal project-form" ng-submit="save()" role="form">
  <fieldset>
    <legend>Informasi Proyek</legend>

    <!-- group_id -->
    <form-group label="Kelompok Proyek:" size="sm-9 lg-10">
      <form-item label="Kelompok Proyek:" size="md-8 lg-7">
        <select class="form-control" ng-model="item.group_id"
                ng-options="group.group_id as group.group_name for group in groups" required>
        </select>
      </form-item>
    </form-group>

    <!-- type_id -->
    <form-group label="Tipe Proyek:" size="sm-9 lg-10">
      <form-item label="Tipe Proyek:" size="md-8 lg-7">
        <select class="form-control" ng-model="item.type_id"
                ng-options="type.type_id as type.project_type for type in types" required>
        </select>
      </form-item>
    </form-group>

    <!-- locations -->
    <div ng-repeat="loc in item.locations">
      <!-- employee_location_id -->
      <input type="hidden" ng-model="loc.employee_location_id">

      <form-group label="Lokasi Proyek {{($index + 1).toRoman()}}:" size="md-9 lg-10" on-remove="removeItem('locations', $index)" action-inline="lg">
        <!-- location_id -->
        <form-item label="Lokasi Proyek {{($index + 1).toRoman()}}:" size="md-12 lg-9">
          <select class="form-control" ng-model="loc.location_id"
                  ng-options="l.location_id as '&nbsp;'.repeat(l.depth * 4) + l.location_name for l in locations">
          </select>
        </form-item>
      </form-group>
    </div>

    <!-- add locations -->
    <form-group label="" size="md-9 lg-10">
      <form-item>
        <a href class="action-link" ng-click="addItem('locations')">
          <i class="glyphicon glyphicon-plus"></i> Tambah Lokasi
        </a>
      </form-item>
    </form-group>

    <!-- parent -->
    <form-group label="Parent:" size="md-9 lg-10">
      <form-item label="Parent:">
        <select class="form-control" ng-model="item.parent"
                ng-options="parent.project_id as '&nbsp;'.repeat(parent.depth * 4) + parent.project_name for parent in parents">
          <option value="">-- Tanpa Parent --</option>
        </select>
      </form-item>
    </form-group>

    <!-- project_name -->
    <form-group label="Nama Proyek:" size="md-9 lg-10">
      <form-item label="Nama Proyek:">
        <input type="text" class="form-control" ng-model="item.project_name" required placeholder="Nama Proyek">
      </form-item>
    </form-group>

    <!-- contract_no_s1, contract_no_s2 -->
    <form-group label="No Kontrak:" size="md-9 lg-10">
      <form-item label="No Kontrak Pihak I:" size="sm-6 md-4">
        <input type="text" class="form-control" ng-model="item.contract_no_s1" placeholder="No Kontrak Pihak I">
      </form-item>
      <form-item label="No Kontrak Pihak II:" size="sm-6 md-4">
        <input type="text" class="form-control" ng-model="item.contract_no_s2" placeholder="No Kontrak Pihak II">
      </form-item>
    </form-group>

    <!-- contract_date, contract_date_end -->
    <form-group label="Tanggal Kontrak:" size="md-9 lg-10">
      <form-item label="Tanggal Kontrak:" size="xs-6 sm-3" type="date">
        <input type="date" class="form-control" ng-model="item.contract_date" placeholder="yyyy-mm-dd">
      </form-item>
      <form-item label="Akhir Kontrak:" size="xs-6 sm-3" type="date">
        <input type="date" class="form-control" ng-model="item.contract_date_end" placeholder="yyyy-mm-dd">
      </form-item>
    </form-group>

    <!-- project_description -->
    <form-group label="Deskripsi Proyek:" size="md-9 lg-10">
      <form-item label="Deskripsi Proyek:">
        <textarea class="form-control" ng-model="item.project_description" required placeholder="Deskripsi Proyek"></textarea>
      </form-item>
    </form-group>

    <!-- contract_value -->
    <form-group label="Nilai Kontrak:" size="md-9 lg-10">
      <form-item label="Nilai Kontrak:" size="md-3 lg-2" type="currency">
        <input type="number" class="form-control" ng-model="item.contract_value" required placeholder="Nilai Kontrak">
      </form-item>
    </form-group>
  </fieldset>

  <fieldset>
    <legend>Amandemen/Addendum</legend>

    <div ng-repeat="addendum in item.addendums">
      <!-- addendum_id -->
      <input type="hidden" ng-model="loc.addendum_id">
      <hr ng-hide="$index === 0">

      <!-- addendum_name -->
      <form-group label="Keterangan:" size="md-9 lg-10" on-remove="removeItem('addendums')">
        <form-item label="Keterangan:">
          <input type="text" class="form-control" ng-model="addendum.addendum_name"  placeholder="Keterangan">
        </form-item>
      </form-group>

      <!-- addendum_no -->
      <form-group label="Nomor:" size="md-9 lg-10" action-gap="true">
        <form-item label="Nomor:" size="md-4">
          <input type="text" class="form-control" ng-model="addendum.addendum_no" placeholder="Nomor Addendum">
        </form-item>
      </form-group>

      <!-- addendum_date, addendum_date_end -->
      <form-group label="Tanggal Addendum:" size="md-9 lg-10" action-gap="true">
        <form-item label="Tanggal Addendum:" size="xs-6 sm-3" type="date">
          <input type="date" class="form-control" ng-model="addendum.addendum_date" placeholder="yyyy-mm-dd">
        </form-item>
        <form-item label="Akhir Addendum:" size="xs-6 sm-3" type="date">
          <input type="date" class="form-control" ng-model="addendum.addendum_date_end" placeholder="yyyy-mm-dd">
        </form-item>
      </form-group>

      <!-- addendum_value -->
      <form-group label="Nilai Addendum" size="md-9 lg-10" action-gap="true">
        <form-item label="Nilai Addendum:" size="md-3 lg-2">
          <input type="number" class="form-control" ng-model="addendum.addendum_value" placeholder="Nilai Addendum">
        </form-item>
      </form-group>
    </div>

    <!-- add addendum -->
    <form-group label="" size="md-9 lg-10">
      <form-item>
        <a href class="action-link" ng-click="addItem('addendums')">
          <i class="glyphicon glyphicon-plus"></i> Tambah Amandemen/Addendum
        </a>
      </form-item>
    </form-group>
  </fieldset>

  <fieldset>
    <legend>Keterangan</legend>

    <!-- Keterangan -->
    <form-group label="Keterangan" size="md-9 lg-10">
      <form-item label="Keterangan">
        <textarea class="form-control" ng-model="item.description" placeholder="Keterangan"></textarea>
      </form-item>
    </form-group>
  </fieldset>

  <div class="form-group item-footer hidden-xs hidden-sm">
    <div class="col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary" fire-on="save-project">Simpan</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
    </div>
  </div>

</form>
