<div class="table-data-wrapper" ng-hide="data.length === 0">
  <table class="table-data table-data-project">
    <thead>
      <tr>
        <th class="col-checkbox" ng-click="toggleSelection()">
          <input type="checkbox" ng-checked="selectedItems.length === data.length">
        </th>
        <th>Nama Proyek</th>
        <th>Tipe Proyek</th>
        <th>No Kontrak I</th>
        <th>No Kontrak II</th>
        <th>Tgl Kontrak</th>
        <th>Akhir Kontrak</th>
        <th>Nilai Kontrak</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in dataGroup | filter:filterOptions.filterText"
          ng-click="project.isGroup ? showHideChildren(project) : inViewport(['xs']) && edit(project)"
          ng-class="{selected: selectedItems.indexOf(project) !== -1, group: project.isGroup, open: project.isGroup && hiddenGroups.indexOf(project.group_id) === -1}"
          ng-hide="!project.isGroup && hiddenItems.indexOf(project.project_id) !== -1">

        <td class="col-caret" ng-if="project.isGroup">
          <i class="caret"></i>
        </td>
        <td ng-if="project.isGroup" colspan="8">{{project.group_name}}</td>

        <td class="col-checkbox" ng-if="!project.isGroup" ng-click="toggleSelection(project); $event.stopPropagation();">
          <input type="checkbox" ng-checked="selectedItems.indexOf(project) !== -1">
        </td>
        <td ng-if="!project.isGroup" ng-style="inViewport(['md', 'lg']) && {'padding-left': (10 + project.depth * 10) + 'px'}">
          <a href ng-click="inViewport(['xs']) || edit(project)">{{project.project_name}}</a>
        </td>
        <td ng-if="!project.isGroup" class="hidden-xs">{{project.project_type}}</td>
        <td ng-if="!project.isGroup" class="hidden-xs">{{project.contract_no_s1}}</td>
        <td ng-if="!project.isGroup" class="hidden-xs">{{project.contract_no_s2}}</td>
        <td ng-if="!project.isGroup" class="hidden-xs">{{project.contract_date | date:'dd/MM/y'}}</td>
        <td ng-if="!project.isGroup" class="hidden-xs">{{project.contract_date_end | date:'dd/MM/y'}}</td>
        <td ng-if="!project.isGroup" class="visible-xs">Nomor: {{[project.contract_no_s1, project.contract_no_s2] | join:'/' }}</td>
        <td ng-if="!project.isGroup" class="visible-xs">Tertanggal: {{project.contract_date | date: 'dd/MM/y'}} s/d {{project.contract_date_end | date: 'dd/MM/y'}}</td>
        <td ng-if="!project.isGroup" class="text-right" caption="Nilai Kontrak: ">{{project.contract_value | currency:'Rp'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<sg-toolbar-pages ng-hide="data.length === 0 || visibleToolbars.indexOf('pages') === -1"></sg-toolbar-pages>

<div class="alert alert-warning no-data" ng-show="data.length === 0">
  <div>-- Tidak ada data --</div>
</div>
