<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a href="/" class="brand">Project Management</a>
    <a class="btn btn-navbar" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="pull-right" ng-include src="'/app/templates/mini-profile.html'"></div>
    <div class="nav-collapse" collapse="navCollapsed" ng-include src="TEMPLATE_DIR + '/menu.html'"></div>
  </div>
</div>

<ng-view></ng-view>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <a class="brand" href="//bumisentosa.co.id">PT. Bumi Sentosa</a>
    <div class="toolbar" ng-include src="'/app/templates/toolbar.html'"></div>
  </div>
</div>
