<section class="content-header content-header-data">
  <h1 class="title"><span>{{ $state.current.data.title }}</span></h1>
</section>

<section ui-view autoscroll="false" class="content" ng-class="{'content-data': $state.current.name === 'employee.list'}">
</section>
