<form name="employee_form" class="form-horizontal employee-form" ng-submit="save()" role="form">
  <tabset>
    <tab heading="Informasi">
      <fieldset>
        <!-- <legend>Pegawai</legend> -->

        <!-- photo -->
        <div class="photo">
          <div class="thumb" ng-repeat="photo in item.photos" ng-thumb="photo"></div>
          <div ng-file-select ng-file-drop ng-file-change="onPhotoChanged()" ng-model="item.photos" ng-accept="'image/*'"
               class="drop-area" drag-over-class="{accept:'drop-area-over', delay:100}"
               title="Klik atau geser foto disini untuk mengganti">
            <label ng-hide="item.photos[0]">Foto</label>
          </div>
          <a href class="photo-action" ng-click="removePhoto()" ng-show="item.photos[0]" title="Hapus foto">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
          <a href class="photo-action" ng-click="resetPhoto()" ng-show="!item.photos[0] && item.photo_url_old && item.photo_changed" title="Reset foto">
            <i class="glyphicon glyphicon-repeat"></i>
          </a>
        </div>

        <!-- employee_no -->
        <form-group label="NIK:" size="md-9 lg-10">
          <form-item size="sm-5 md-3" label="NIK:">
            <input type="text" class="form-control" ng-model="item.employee_no" placeholder="NIK" required>
          </form-item>
        </form-group>

        <!-- employee_name -->
        <form-group label="Nama Pegawai:" size="md-9 lg-10">
          <form-item label="Nama Pegawai:" size="sm-9 md-8 lg-9">
            <input type="text" class="form-control" ng-model="item.employee_name" placeholder="Nama Pegawai" required>
          </form-item>
        </form-group>

        <!-- gender_id -->
        <form-group label="Jenis Kelamin:" size="md-9 lg-10">
          <form-item label="Jenis Kelamin:">
            <div class="radio-group">
              <label class="radio-inline">
                <input type="radio" name="gender" ng-model="item.gender_id" ng-value="true" required>
                Laki-Laki
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" ng-model="item.gender_id" ng-value="false" required>
                Perempuan
              </label>
            </div>
          </form-item>
        </form-group>

        <!-- birth_place, birth_date -->
        <form-group label="Tempat/Tanggal Lahir:" size="md-9 lg-10">
          <form-item size="xs-7 sm-4" label="Tempat Lahir:">
            <input type="text" class="form-control" ng-model="item.birth_place" placeholder="Tempat Lahir">
          </form-item>
          <form-item size="xs-5 sm-3" label="Tanggal Lahir:" type="date">
            <input type="date" class="form-control" ng-model="item.birth_date" placeholder="yyyy-mm-dd">
          </form-item>
        </form-group>

        <!-- religion_id -->
        <form-group label="Agama:" size="md-9 lg-10">
          <form-item size="sm-5 md-3" label="Agama:">
            <select class="form-control" ng-model="item.religion_id" ng-options="r.religion_id as r.religion for r in religions" required>
              <option value="">-- Pilih Agama --</option>
            </select>
          </form-item>
        </form-group>

        <!-- identity_card_no, identity_card_expiry_date -->
        <form-group label="Nomor KTP:" size="md-9 lg-10">
          <form-item size="xs-7 sm-4" label="Nomor KTP:">
            <input type="text" class="form-control" ng-model="item.identity_card_no" placeholder="Nomor KTP">
          </form-item>
          <form-item size="xs-5 sm-3" label="Tanggal Berlaku KTP:" label-inline="Berlaku:" type="date">
            <input type="date" class="form-control" ng-model="item.identity_card_expiry_date" placeholder="yyyy-mm-dd">
          </form-item>
        </form-group>

        <!-- driver_licenses -->
        <div ng-repeat="lic in item.driver_licenses">
          <!-- employee_license_id -->
          <input type="hidden" ng-model="lic.employee_license_id">

          <form-group label="Nomor SIM{{lic.license_code ? ' ' + lic.license_code : '' }}:" size="md-9 lg-10" on-remove="removeItem('driver_licenses', $index)" action-inline="md">
            <!-- license_code -->
            <form-item label="Jenis SIM:" size="xs-12 sm-3 md-2">
              <select class="form-control" ng-model="lic.license_code" ng-options="l.license_code as 'SIM ' + l.license_code for l in driverLicenses">
              </select>
            </form-item>
            <!-- license_no -->
            <form-item label="Nomor SIM{{lic.license_code ? ' ' + lic.license_code : '' }}:" size="xs-7 sm-5 md-4">
              <input type="text" class="form-control" ng-model="lic.license_no" placeholder="Nomor SIM {{lic.license_code}}">
            </form-item>
            <!-- expiry_date -->
            <form-item label="Tanggal Berlaku SIM{{lic.license_code ? ' ' + lic.license_code : '' }}:" label-inline="Berlaku:" size="xs-5 sm-4 md-3" type="date">
              <input type="date" class="form-control" ng-model="lic.expiry_date" placeholder="yyyy-mm-dd">
            </form-item>
          </form-group>
        </div>

        <!-- add driver_license -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('driver_licenses')">
              <i class="glyphicon glyphicon-plus"></i> Tambah SIM
            </a>
          </form-item>
        </form-group>

        <!-- address, city -->
        <form-group label="Alamat:" size="md-9 lg-10">
          <form-item size="sm-8" label="Alamat:">
            <input type="text" class="form-control" ng-model="item.address" placeholder="Alamat">
          </form-item>
          <form-item size="sm-4" label="Kota:">
            <input type="text" class="form-control" ng-model="item.city" placeholder="Kota">
          </form-item>
        </form-group>

        <!-- identity_card_address, identity_card_city -->
        <form-group label="Alamat Sesuai KTP:" size="md-9 lg-10">
          <form-item size="sm-8" label="Alamat Sesuai KTP:">
            <input type="text" class="form-control" ng-model="item.identity_card_address" placeholder="Alamat">
          </form-item>
          <form-item size="sm-4" label="Kota:">
            <input type="text" class="form-control" ng-model="item.identity_card_city" placeholder="Kota">
          </form-item>
        </form-group>

        <!-- mobile_phone -->
        <form-group label="Nomor Telepon:" size="md-9 lg-10">
          <form-item size="sm-5 md-3" label="Nomor Telepon:">
            <input type="text" class="form-control" ng-model="item.mobile_phone" placeholder="Nomor Telepon">
          </form-item>
        </form-group>

        <!-- email -->
        <form-group label="Email:" size="md-9 lg-10">
          <form-item label="Email:">
            <input type="email" class="form-control" ng-model="item.email" placeholder="someone@domain.com">
          </form-item>
        </form-group>

        <!-- marital_status_id -->
        <form-group label="Status Kawin:" size="md-9 lg-10">
          <form-item label="Status Kawin:">
            <div class="radio-group">
              <label class="radio-inline">
                <input type="radio" name="marital_status" ng-model="item.marital_status_id"  ng-value="1" required>
                Belum Kawin
              </label>
              <label class="radio-inline">
                <input type="radio" name="marital_status" ng-model="item.marital_status_id"  ng-value="2" required>
                Kawin
              </label>
            </div>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset ng-show="item.marital_status_id === 2">
        <legend>Keluarga</legend>

        <!-- spouse_name -->
        <form-group label="Nama {{item.gender_id === undefined ? 'Pasangan' : (item.gender_id ? 'Istri' : 'Suami')}}:" size="md-9 lg-10">
          <form-item label="Nama {{item.gender_id === undefined ? 'Pasangan' : (item.gender_id ? 'Istri' : 'Suami')}}:">
            <input type="text" class="form-control" ng-model="item.spouse_name" placeholder="Nama {{item.gender_id === undefined ? 'Pasangan' : (item.gender_id ? 'Istri' : 'Suami')}}">
          </form-item>
        </form-group>

        <!-- spouse_birth_place, spouse_birth_date -->
        <form-group label="Tempat/Tanggal Lahir:" size="md-9 lg-10">
          <form-item size="xs-7 sm-4" label="Tempat Lahir:">
            <input type="text" class="form-control" ng-model="item.spouse_birth_place" placeholder="Tempat Lahir">
          </form-item>
          <form-item size="xs-5 sm-3" label="Tanggal Lahir:" type="date">
            <input type="date" class="form-control" ng-model="item.spouse_birth_date" placeholder="yyyy-mm-dd">
          </form-item>
        </form-group>

        <!-- spouse_job -->
        <form-group label="Pekerjaan:" size="md-9 lg-10">
          <form-item size="md-6" label="Pekerjaan:">
            <input type="text" class="form-control" ng-model="item.spouse_job" placeholder="Pekerjaan">
          </form-item>
        </form-group>

        <!-- children -->
        <div ng-repeat="child in item.children">
          <hr class="visible-xs">
          <!-- child_id -->
          <input type="hidden" ng-model="child.child_id">

          <form-group label="Anak {{($index + 1).toRoman()}}:" size="md-9 lg-10" on-remove="removeItem('children', $index)" action-inline="lg">
            <!-- child_name -->
            <form-item label="Nama Anak {{($index + 1).toRoman()}}:" size="sm-4">
              <input type="text" class="form-control" ng-model="child.child_name" placeholder="Nama Anak {{($index + 1).toRoman()}}">
            </form-item>
            <!-- gender_id -->
            <form-item label="Jenis Kelamin Anak {{($index + 1).toRoman()}}:" size="sm-2">
              <select ng-model="child.gender_id" class="form-control" ng-options="g.gender_id as g.gender for g in genders">
              </select>
            </form-item>
            <!-- birth_place -->
            <form-item label="Tempat Lahir Anak {{($index + 1).toRoman()}}:" size="xs-7 sm-3">
              <input type="text" class="form-control" ng-model="child.birth_place" placeholder="Tempat Lahir">
            </form-item>
            <!-- birth_date -->
            <form-item label="Tanggal Lahir Anak {{($index + 1).toRoman()}}:" size="xs-5 sm-3 lg-2">
              <input type="date" class="form-control" ng-model="child.birth_date" placeholder="yyyy-mm-dd">
            </form-item>
          </form-group>
        </div>

        <!-- add child -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('children')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Anak
            </a>
          </form-item>
        </form-group>
      </fieldset>
    </tab>

    <tab heading="Pendidikan &amp; Pengalaman">
      <fieldset>
        <legend>Pendidikan Formal</legend>

        <!-- educations -->
        <div ng-repeat="edu in item.educations">
          <!-- education_id -->
          <input type="hidden" ng-model="edu.education_id">
          <hr ng-hide="$index === 0">

          <!-- level_id, education_name -->
          <form-group label="Pendidikan:" size="md-9 lg-10" on-remove="removeItem('educations', $index)">
            <form-item label="Tingkat:" size="xs-3 sm-3 md-2">
              <select class="form-control" ng-model="edu.level_id" ng-options="l.level_id as l.education_level for l in educationsLevels">
              </select>
            </form-item>
            <form-item label="Nama Sekolah/Perguruan Tinggi:" size="xs-9 sm-9 md-10">
              <input type="text" class="form-control" ng-model="edu.education_name" placeholder="Nama Sekolah/Perguruan Tinggi">
            </form-item>
          </form-group>

          <!-- major -->
          <form-group label="Jurusan:" size="md-9 lg-10" action-gap="true">
            <form-item label="Jurusan:" size="sm-7">
              <input type="text" class="form-control" ng-model="edu.major" placeholder="Jurusan">
            </form-item>
          </form-group>

          <!-- year_start, year_end -->
          <form-group label="Tahun:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tahun Awal:" size="xs-6 sm-3" type="integer">
              <input type="number" class="form-control" ng-model="edu.year_start" placeholder="Awal">
            </form-item>
            <form-item label="Tahun Akhir:" label-inline="s/d:" size="xs-6 sm-3" type="integer">
              <input type="number" class="form-control" ng-model="edu.year_end" placeholder="Akhir">
            </form-item>
          </form-group>
        </div>

        <!-- add educations -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('educations')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Pendidikan
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Pendidikan Non Formal</legend>

        <!-- educations_non_formal -->
        <div ng-repeat="edu in item.educations_non_formal">
          <!-- education_id -->
          <input type="hidden" ng-model="edu.education_id">
          <hr ng-hide="$index === 0">

          <!-- education_name -->
          <form-group label="Topik/Jenis Pendidikan:" size="md-9 lg-10" on-remove="removeItem('educations_non_formal', $index)">
            <form-item label="Topik/Jenis Pendidikan:">
              <input type="text" class="form-control" ng-model="edu.education_name" placeholder="Topik/Jenis Pendidikan">
            </form-item>
          </form-group>

          <!-- organizer -->
          <form-group label="Penyelengga:" size="md-9 lg-10" action-gap="true">
            <form-item label="Penyelengga:" size="sm-7">
              <input type="text" class="form-control" ng-model="edu.organizer" placeholder="Penyelenggara">
            </form-item>
          </form-group>

          <!-- year, duration -->
          <form-group label="Tahun:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tahun:" size="xs-6 sm-3" type="integer">
              <input type="text" class="form-control" ng-model="edu.year" placeholder="Tahun">
            </form-item>
            <form-item label="Durasi:" label-inline="Durasi:" size="xs-6 sm-3" type="integer">
              <input type="text" class="form-control" ng-model="edu.duration" placeholder="Durasi">
            </form-item>
          </form-group>
        </div>

        <!-- add education_non_formal -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('educations_non_formal')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Pendidikan Non Formal
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Pengalaman</legend>

        <!-- experiences -->
        <div ng-repeat="exp in item.experiences">
          <!-- experience_id -->
          <input type="hidden" ng-model="exp.experience_id">
          <hr ng-hide="$index === 0">

          <!-- company_name -->
          <form-group label="Nama Perusahaan:" size="md-9 lg-10" on-remove="removeItem('experiences', $index)">
            <form-item label="Nama Perusahaan:">
              <input type="text" class="form-control" ng-model="exp.company_name" placeholder="Nama Perusahaan">
            </form-item>
          </form-group>

          <!-- business_type -->
          <form-group label="Jenis Usaha:" size="md-9 lg-10" action-gap="true">
            <form-item label="Jenis Usaha:" size="sm-7">
              <input type="text" class="form-control" ng-model="exp.business_type" placeholder="Jenis Usaha">
            </form-item>
          </form-group>

          <!-- position -->
          <form-group label="Jabatan:" size="md-9 lg-10" action-gap="true">
            <form-item label="Jabatan:" size="sm-7">
              <input type="text" class="form-control" ng-model="exp.position" placeholder="Jabatan">
            </form-item>
          </form-group>

          <!-- year -->
          <form-group label="Tahun:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tahun:" size="sm-7" type="currency">
              <input type="text" class="form-control" ng-model="exp.year" placeholder="Tahun">
            </form-item>
          </form-group>
        </div>

        <!-- add experience -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('experiences')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Pengalaman
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Organisasi</legend>

        <!-- organizations -->
        <div ng-repeat="org in item.organizations">
          <!-- organization_id -->
          <input type="hidden" ng-model="org.organization_id">
          <hr ng-hide="$index === 0">

          <!-- organization_name -->
          <form-group label="Nama Organisasi:" size="md-9 lg-10" on-remove="removeItem('organizations', $index)">
            <form-item label="Nama Organisasi:">
              <input type="text" class="form-control" ng-model="org.organization_name" placeholder="Nama Organisasi">
            </form-item>
          </form-group>

          <!-- activity -->
          <form-group label="Kegiatan:" size="md-9 lg-10" action-gap="true">
            <form-item label="Kegiatan:" size="sm-7">
              <input type="text" class="form-control" ng-model="org.activity" placeholder="Kegiatan">
            </form-item>
          </form-group>

          <!-- year -->
          <form-group label="Tahun:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tahun:" size="sm-7" type="currency">
              <input type="text" class="form-control" ng-model="org.year" placeholder="Tahun">
            </form-item>
          </form-group>
        </div>

        <!-- add organization -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('organizations')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Organisasi
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Kompetensi</legend>

        <!-- competences -->
        <div ng-repeat="comp in item.competences">
          <!-- employee_competence_id -->
          <input type="hidden" ng-model="comp.employee_competence_id">
          <hr ng-hide="$index === 0">

          <!-- competence_id -->
          <form-group label="Unit Kompetensi:" size="md-9 lg-10" on-remove="removeItem('competences', $index)">
            <form-item label="Unit Kompetensi:">
               <select class="form-control" ng-model="comp.competence_id" ng-options="c.competence_id as c.competence_code + ' - ' + c.competence_name for c in competences">
                </select>
            </form-item>
          </form-group>

          <!-- competence_no, competence_name -->
          <form-group label="Kompetensi:" size="md-9 lg-10" action-gap="true">
            <form-item label="Nomor:" size="sm-4">
              <input type="text" class="form-control" ng-model="comp.competence_no" placeholder="Nomor">
            </form-item>
            <form-item label="Keterangan Kompetensi:" size="sm-8">
              <input type="text" class="form-control" ng-model="comp.competence_name" placeholder="Keterangan">
            </form-item>
          </form-group>

          <!-- competence_date, expiry_date -->
          <form-group label="Tanggal Kompetensi:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tanggal Awal:" size="xs-6 sm-6" type="date">
              <input type="date" class="form-control" ng-model="comp.competence_date" placeholder="Awal">
            </form-item>
            <form-item label="Tanggal Akhir:" label-inline="s/d:" size="xs-6 sm-6" type="date">
              <input type="date" class="form-control" ng-model="comp.expiry_date" placeholder="Akhir">
            </form-item>
          </form-group>
        </div>

        <!-- add competence -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('competences')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Kompetensi
            </a>
          </form-item>
        </form-group>
      </fieldset>
    </tab>

    <tab heading="Kepegawaian">
      <fieldset>
        <legend>Lokasi &amp; Jabatan</legend>

        <div class="row">
          <!-- projects -->
          <div class="col-md-4">
            <div ng-repeat="prj in item.projects">
              <!-- employee_project_id -->
              <input type="hidden" ng-model="prj.employee_project_id">

              <!-- project_id, mutation_date -->
              <label class="control-label control-label-stacked visible-md visible-lg">Proyek {{($index + 1).toRoman()}}:</label>
              <form-group on-remove="removeItem('projects')">
                <form-item label="Proyek {{($index + 1).toRoman()}}:" size="xs-7 sm-9 md-12">
                  <select class="form-control" ng-model="prj.project_id"
                          ng-options="p.project_id as '&nbsp;'.repeat(p.depth * 4) + p.project_name group by p.group_name for p in projects">
                  </select>
                </form-item>
                <form-item label="Tanggal Mutasi:" size="xs-5 sm-3 md-12">
                  <label class="control-label control-label-stacked visible-md visible-lg">Tanggal Mutasi:</label>
                  <input type="date" class="form-control" ng-model="prj.mutation_date" placeholder="Tanggal Mutasi">
                </form-item>
              </form-group>
            </div>

            <!-- add projects -->
            <a href class="action-link" ng-click="addItem('projects')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Proyek
            </a>
          </div>

          <hr class="hidden-md hidden-lg">

          <!-- locations -->
          <div class="col-md-4">
            <div ng-repeat="loc in item.locations">
              <!-- employee_location_id -->
              <input type="hidden" ng-model="loc.employee_location_id">

              <!-- location_id, mutation_date -->
              <label class="control-label control-label-stacked visible-md visible-lg">Lokasi {{($index + 1).toRoman()}}:</label>
              <form-group on-remove="removeItem('locations')">
                <form-item label="Lokasi {{($index + 1).toRoman()}}:" size="xs-7 sm-9 md-12">
                  <select class="form-control" ng-model="loc.location_id"
                          ng-options="l.location_id as '&nbsp;'.repeat(l.depth * 4) + l.location_name for l in locations">
                  </select>
                </form-item>
                <form-item label="Tanggal Mutasi:" size="xs-5 sm-3 md-12">
                  <label class="control-label control-label-stacked visible-md visible-lg">Tanggal Mutasi:</label>
                  <input type="date" class="form-control" ng-model="loc.mutation_date" placeholder="Tanggal Mutasi">
                </form-item>
              </form-group>
            </div>

            <!-- add locations -->
            <a href class="action-link" ng-click="addItem('locations')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Lokasi
            </a>
          </div>

          <hr class="hidden-md hidden-lg">

          <!-- positions -->
          <div class="col-md-4">
            <div ng-repeat="pos in item.positions">
              <!-- employee_position_id -->
              <input type="hidden" ng-model="pos.employee_position_id">

              <!-- position_id, mutation_date -->
              <label class="control-label control-label-stacked visible-md visible-lg">Jabatan {{($index + 1).toRoman()}}:</label>
              <form-group on-remove="removeItem('positions')">
                <form-item label="Jabatan {{($index + 1).toRoman()}}:" size="xs-7 sm-9 md-12">
                  <select class="form-control" ng-model="pos.position_id"
                          ng-options="p.position_id as '&nbsp;'.repeat(p.depth * 4) + p.position for p in positions">
                  </select>
                </form-item>
                <form-item label="Tanggal Mutasi:" size="xs-5 sm-3 md-12">
                  <label class="control-label control-label-stacked visible-md visible-lg">Tanggal Mutasi:</label>
                  <input type="date" class="form-control" ng-model="pos.mutation_date" placeholder="Tanggal Mutasi">
                </form-item>
              </form-group>
            </div>

            <!-- add positions -->
            <a href class="action-link" ng-click="addItem('positions')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Jabatan
            </a>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Bank, Pajak &amp; Perlindungan Sosial</legend>

        <!-- bank_id, bank_account_no -->
        <form-group label="Rekening Bank:" size="md-9 lg-10">
          <form-item label="Nama Bank:" size="sm-7">
            <select class="form-control" ng-model="item.bank_id" ng-options="b.bank_id as b.bank_name + ' Cabang ' + b.branch for b in banks">
              <option value="">-- Tidak Ada --</option>
            </select>
          </form-item>
          <form-item label="Nomor Rekening Bank:" size="sm-5 md-3">
            <input type="text" class="form-control" ng-model="item.bank_account_no" placeholder="Nomor Rekening">
          </form-item>
        </form-group>

        <!-- tax_no, tax_date -->
        <form-group label="Wajib Pajak:" size="md-9 lg-10">
          <form-item label="Nomor NPWP:" size="xs-7 sm-5 md-3">
            <input type="text" class="form-control" ng-model="item.tax_no" placeholder="Nomor NPWP">
          </form-item>
          <form-item label="Tanggal Terdaftar:" label-inline="Tanggal:" size="xs-5 sm-3" type="date">
            <input type="date" class="form-control" ng-model="item.tax_date" placeholder="Tanggal Terdaftar">
          </form-item>
        </form-group>

        <!-- social_security -->
        <div ng-repeat="ss in item.social_security">
          <!-- employee_ss_id -->
          <input type="hidden" ng-model="ss.employee_ss_id">
          <hr class="visible-xs">

          <form-group label="Perlindungan Sosial {{($index + 1).toRoman()}}:" size="md-9 lg-10" on-remove="removeItem('social_security', $index)" action-inline="md">
            <!-- ss_code -->
            <form-item label="Jenis Perlindungan Sosial {{($index + 1).toRoman()}}:" size="xs-12 sm-5 md-3">
              <select class="form-control" ng-model="ss.ss_code" ng-options="ss.ss_code as ss.ss_name for ss in socialSecurity">
              </select>
            </form-item>
            <!-- ss_no -->
            <form-item label="Nomor Perlindungan Sosial {{($index + 1).toRoman()}}:" size="xs-7 sm-4 md-3">
              <input type="text" class="form-control" ng-model="ss.ss_no" placeholder="Nomor Kartu">
            </form-item>
            <!-- ss_date -->
            <form-item label="Tanggal Kepesertaan {{($index + 1).toRoman()}}:" label-inline="Tanggal:" size="xs-5 sm-3" type="date">
              <input type="date" class="form-control" ng-model="ss.ss_date" placeholder="Tanggal Kepesertaan">
            </form-item>
          </form-group>
        </div>

        <!-- add social_security -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('social_security')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Perlindungan Sosial
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Pencatatan Surat</legend>

        <!-- letters -->
        <div ng-repeat="ltr in item.letters">
          <!-- letter_id -->
          <input type="hidden" ng-model="ltr.letter_id">
          <hr ng-hide="$index === 0">

          <!-- type_id, letter_no -->
          <form-group label="Surat:" size="md-9 lg-10" on-remove="removeItem('letters', $index)">
            <form-item label="Jenis Surat:" size="xs-7">
               <select class="form-control" ng-model="ltr.type_id" ng-options="t.type_id as t.letter_code + ' - ' + t.letter_type for t in lettersTypes">
                </select>
            </form-item>
            <form-item label="Nomor:" size="xs-5">
              <input type="text" class="form-control" ng-model="ltr.letter_no" placeholder="Nomor">
            </form-item>
          </form-group>

          <!-- letter_date, letter_date_end -->
          <form-group label="Tanggal Surat:" size="md-9 lg-10" action-gap="true">
            <form-item label="Tanggal Surat Awal:" size="xs-6 sm-6" type="date">
              <input type="date" class="form-control" ng-model="ltr.letter_date" placeholder="Awal">
            </form-item>
            <form-item label="Tanggal Surat Akhir:" label-inline="s/d:" size="xs-6 sm-6" type="date">
              <input type="date" class="form-control" ng-model="ltr.letter_date_end" placeholder="Akhir">
            </form-item>
          </form-group>

          <!-- description -->
          <form-group label="Keterangan:" size="md-9 lg-10" action-gap="true">
            <form-item label="Keterangan:">
              <input type="text" class="form-control" ng-model="ltr.description" placeholder="Keterangan">
            </form-item>
          </form-group>
        </div>

        <!-- add letter -->
        <form-group label="" size="md-9 lg-10">
          <form-item>
            <a href class="action-link" ng-click="addItem('letters')">
              <i class="glyphicon glyphicon-plus"></i> Tambah Pencatatan Surat
            </a>
          </form-item>
        </form-group>
      </fieldset>

      <fieldset>
        <legend>Lainnya</legend>

        <!-- join_date, employment_date -->
        <form-group label="Tanggal Bergabung:" size="md-9 lg-10">
          <form-item label="Tanggal Bergabung:" size="xs-6 sm-6" type="date">
            <input type="date" class="form-control" ng-model="item.join_date" placeholder="Tanggal Bergabung" required>
          </form-item>
          <form-item label="Tanggal Masa Kerja:" label-inline="Tanggal Masa Kerja:" size="xs-6 sm-6" type="date">
            <input type="date" class="form-control" ng-model="item.employment_date" placeholder="Masa Kerja" required>
          </form-item>
        </form-group>
      </fieldset>
    </tab>
  </tabset>

  <div class="form-group item-footer hidden-xs hidden-sm">
    <div class="col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary" fire-on="save-employee">Simpan</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
    </div>
  </div>

</form>
