<div class="filter-data">
  <form class="form-inline">
    <label for="filter-project" class="control-label">Proyek:</label>
    <select id="filter-project" class="form-control"
      ng-model="filterOptions.projectId"
      ng-options="project.project_id as '&nbsp;'.repeat(project.depth * 4) + project.project_name group by project.group_name for project in projects"
      ng-change="refresh()">
      <option value="">-- Semua Proyek --</option>
    </select>
  </form>
</div>

<div class="table-data-wrapper" ng-hide="data.length === 0">
  <table class="table-data table-data-employee">
    <thead>
      <tr>
        <th class="col-checkbox" ng-click="toggleSelection()">
          <input type="checkbox" ng-checked="selectedItems.length === data.length">
        </th>
        <th>NIK</th>
        <th>Nama Pegawai</th>
        <th>Jabatan</th>
        <th>Jenis Kelamin</th>
        <th>Tempat/Tgl. Lahir</th>
        <th>Status</th>
        <th>Agama</th>
        <th>Alamat</th>
        <th>Masa Kerja</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in data | filter:filterOptions.filterText"
          ng-click="inViewport(['xs']) && edit(emp)"
          ng-class="{selected: selectedItems.indexOf(emp) !== -1}">
        <td class="col-checkbox" ng-click="toggleSelection(emp); $event.stopPropagation();">
          <input type="checkbox" ng-checked="selectedItems.indexOf(emp) !== -1">
        </td>
        <td><a href ng-click="inViewport(['xs']) || edit(emp)">{{emp.employee_no}}</a></td>
        <td>{{emp.employee_name}}</td>
        <td>{{emp.position}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.birth_place}}, {{emp.birth_date | date:'dd/MM/y'}}</td>
        <td>{{emp.marital_status}}</td>
        <td>{{emp.religion}}</td>
        <td>{{[emp.address, emp.city] | join}}</td>
        <td>{{emp.employment_date | date:'dd/MM/y'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<sg-toolbar-pages ng-hide="data.length === 0 || visibleToolbars.indexOf('pages') === -1"></sg-toolbar-pages>

<div class="alert alert-warning no-data" ng-show="data.length === 0">
  <div>-- Tidak ada data --</div>
</div>
