<!DOCTYPE html>
<html <%= "ng-app=\"#{@angular_app}\"" if @angular_app %>>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= description %>">
  <meta name="author" content="Adi Sayoga">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon-180x180.png">

  <link rel="icon" type="image/png" href="/img/icon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/icon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/icon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/icon/favicon-192x192.png" sizes="192x192">

  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="/img/icon/mstile-144x144.png">

  <title <%= "ng-bind=\"($state.current.data.title ? $state.current.data.title + ' - ' : '') + '#{title}'\"" if @angular_app %>>
    <%= title %>
  </title>

  <%= stylesheets %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.js"></script>
    <script src="lib/html5shiv/dist/html5shiv-printshiv.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
  <![endif]-->
</head>

<body <%= "ng-controller=\"layoutCtrl\"  ng-class=\"{'sidebar-open': sidebarOpen}\"}" if @angular_app %>>
  <%= yield %>

  <%= scripts %>
</body>
</html>
