<div class="wrap">
  <header>
    <div class="container">
      <div class="header-inner clearfix">
        <h1 class="title">Enterprise Resource Planning</h1>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-8 hidden-sm hidden-xs">
        <div class="info-area">
          <div class="info-background"></div>
          <div class="info-message">We serve you better</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="login-area">
          <h1 class="title">Masuk</h1>

          <% if flash[:error] %>
            <div class="alert alert-warning"><%= flash[:error] %></div>
          <% end %>

          <% if flash[:message] %>
            <div class="alert alert-info"><%= flash[:message] %></div>
          <% end %>

          <form method="post" class="login-form" role="form">
            <fieldset>
              <div class="form-group">
                <input type="text" name="username" class="form-control"
                    placeholder="Nama pengguna" value="<%= flash[:username] %>"
                    required autofocus>
              </div>

              <div class="form-group">
                <input type="password" name="password" class="form-control"
                    placeholder="Kata sandi" <%= 'autofocus' if flash[:username] %>
                    required>
              </div>

              <div class="form-group">
                <label class="checkbox"><input type="checkbox" name="remember" checked> Biarkan saya tetap masuk</label>
              </div>
            </fieldset>

            <fieldset style="margin-top: 15px">
              <div class="form-group">
                <button type="sumbit" class="btn btn-primary">Masuk</button>
              </div>
            </fieldset>
          </form>

          <div class="login-help">
            <ul class="list-unstyled">
              <li><a href="/reset-password">Lupa kata sandi?</a></li>
              <li><a href="/register">Tidak punya akun?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
</div>

<footer>
  <div class="container">
    <a href="http://bumisentosa.co.id" class="company-link">&copy;2013 PT. Bumi Sentosa</a>
    <span class="pull-right">
      <a href="/ketentuan">Ketentuan</a>
      <a href="/help">Pusat Bantuan</a>
    </span>
  </div>
</footer>
