<form class="form-horizontal" ng-submit="ok()" role="form">

  <div class="modal-header">
    <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
    <h4>{{ title }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="competence_code" class="control-label col-md-3">Kode Kompetensi:</label>
      <div class="col-md-9">
        <input type="text" id="competence_code" ng-model="item.competence_code" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="competence_name" class="control-label col-md-3">Unit Kompetensi:</label>
      <div class="col-md-9">
        <input type="text" id="competence_name" ng-model="item.competence_name" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="control-label col-md-3">Keterangan:</label>
      <div class="col-md-9">
        <textarea id="description" ng-model="item.description" class="form-control" rows="5"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
  </div>

</form>
