<section class="content-header content-header-data">
  <h1 class="title"><span>{{ $state.current.data.title }}</span></h1>
</section>

<section class="content content-data">
  <table class="table-data" ng-hide="data.length === 0">
    <thead>
      <tr>
        <th class="col-checkbox" ng-click="toggleSelection()">
          <input type="checkbox" ng-checked="selectedItems.length === data.length">
        </th>
        <th>Kode</th>
        <th>Unit kompetensi</th>
        <th>Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="competence in data | filter:filterOptions.filterText"
        ng-click="inViewport(['xs']) && edit(competence)" ng-class="{selected: selectedItems.indexOf(competence) !== -1}">
        <td class="col-checkbox" ng-click="toggleSelection(competence); $event.stopPropagation();">
          <input type="checkbox" ng-checked="selectedItems.indexOf(competence) !== -1">
        </td>
        <td><a href ng-click="inViewport(['xs']) || edit(competence)">{{competence.competence_code}}</a></td>
        <td>{{competence.competence_name}}</td>
        <td class="hidden-xs">{{competence.description}}</td>
      </tr>
    </tbody>
  </table>

  <sg-toolbar-pages ng-hide="data.length === 0 || visibleToolbars.indexOf('pages') === -1"></sg-toolbar-pages>

  <div class="alert alert-warning no-data" ng-show="data.length === 0">
    <div>-- Tidak ada data --</div>
  </div>
</section>
