<form class="form-horizontal" ng-submit="ok()" role="form">

  <div class="modal-header">
    <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
    <h4>{{ title }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="parent" class="control-label col-md-3">Parent:</label>
      <div class="col-md-9">
        <select id="parent" ng-model="item.parent"
          ng-options="position.position_id as '&nbsp;'.repeat(position.depth * 4) + position.position for position in data"
          class="form-control">
          <option value="">-- Tanpa Parent --</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="position" class="control-label col-md-3">Jabatan:</label>
      <div class="col-md-9">
        <input type="text" id="position" ng-model="item.position" class="form-control" required>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
  </div>

</form>
