<form class="form-horizontal" ng-submit="ok()" role="form">

  <div class="modal-header">
    <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
    <h4>{{ title }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="project_type" class="control-label col-md-3">Tipe Proyek:</label>
      <div class="col-md-9">
        <input type="text" id="project_type" ng-model="item.project_type" class="form-control" required>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
  </div>

</form>
