<div class="modal-header">
  <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
  <h4>{{title}}</h4>
</div>

<div class="modal-body">
  <!-- <span ng-bind-html-unsafe="message"></span> -->
  {{message}}
</div>

<div class="modal-footer">
  <span ng-repeat="button in buttons">
    <button type="{{button.type || 'button'}}"
        class="btn {{button.className || 'btn-default'}}"
        ng-click="buttonClick(button)">
      {{button.label}}
    </button>
    &nbsp;
  </span>
</div>
