
<!-- Loading -->
<div class="loading-text" ng-hide="doneLoading" style="margin: 15px 40px; font-size: 14px">Loading...</div>
<div class="loading-indicator" ng-show="isLoading"></div>

<!-- Popup message -->
<div class="messages" ng-show="messages.length > 0" ng-cloak>
  <div class="message" ng-repeat="message in messages">
    <div class="alert alert-{{message.type}}">
      <button class="close" ng-click="removeAlert($index)" aria-hidden="true">&times;</button>
      <div class="alert-body">
        <h4>{{message.title || 'Alert'}}</h4>
        <div>{{message.message}}</div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="header" ng-cloak>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-bg-wrapper">
      <div class="navbar-bg"></div>
    </div>

    <div class="navbar-brand">
      <a href class="sidebar-toggle" ng-class="{active: sidebarOpen}" ng-click="toggleSidebar()">
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
        <span class="sr-only">Toggle navigation</span>
      </a>
      <h1 class="title">{{inViewport(['md', 'lg']) || sidebarOpen ? 'Human Resource' : $state.current.data.title || 'Human Resource'}}</h1>
      <h2 class="subtitle">{{inViewport(['md', 'lg']) || sidebarOpen || !$state.current.data.title ? '<%= @tenant[:name] %>' : 'Human Resource'}}</h2>
    </div>

    <sg-mini-profile class="nav navbar-nav navbar-right hidden-xs"
      display-name="{{profile.display_name}}"
      role-name="{{profile.role}}"
      photo-url="{{'/img/' + (profile.photo_url || 'users/no-photo.jpg')}}">
    </sg-mini-profile>

    <div class="toolbars" ng-show="(visibleToolbars.indexOf('main') !== -1) || (visibleToolbars.indexOf('search') !== -1)">
      <sg-toolbar-main ng-show="visibleToolbars.indexOf('main') !== -1"></sg-toolbar-main>
      <sg-toolbar-search ng-show="visibleToolbars.indexOf('search') !== -1"></sg-toolbar-search>
    </div>
  </nav>
</header>

<div class="wrapper" ng-cloak>
  <!-- Sidebar -->
  <div class="sidebar-backdrop fade" ng-click="sidebarOpen = false"></div>
  <aside class="sidebar" ng-class="{'sidebar-open': sidebarOpen}">
    <div class="sidebar-inner" ng-include="TEMPLATE_DIR + '/sidebar.html'"></div>
  </aside>

  <!-- Content -->
  <div ui-view autoscroll="false" class="content-wrapper"></div>
</div>

<noscript style="display: block; max-width: 400px; margin: 0 auto; padding: 20px;">
  <style type="text/css">
    body { background: #000; }
    .loading-text { display: none; }
    .loading-indicator { top: 0; height: 3px; }
  </style>

  <div style="margin-top: 40px; background: #f2dede; color: #a94442; border: 1px solid white; text-align: center; padding: 20px; border-radius: 5px; -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .3); box-shadow: 1px 1px 4px rgba(0, 0, 0, .3); font-size: 15px">
    Mohon aktifkan JavaScript!
  </div>
</noscript>
