<form class="form-horizontal" ng-submit="ok()" role="form">

  <div class="modal-header">
    <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
    <h4>{{ title }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="parent" class="control-label col-md-3">Parent:</label>
      <div class="col-md-9">
        <select id="parent" ng-model="item.parent"
          ng-options="location.location_id as '&nbsp;'.repeat(location.depth * 4) + location.location_name for location in data"
          class="form-control">
          <option value="">-- Tanpa Parent --</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="location_name" class="control-label col-md-3">Lokasi:</label>
      <div class="col-md-9">
        <input type="text" id="location_name" ng-model="item.location_name" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="control-label col-md-3">Alamat:</label>
      <div class="col-md-9">
        <input type="text" id="address" ng-model="item.address" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="city" class="control-label col-md-3">Kota:</label>
      <div class="col-md-9">
        <input type="text" id="city" ng-model="item.city" class="form-control">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
  </div>

</form>
