<section class="content-header content-header-data">
  <h1 class="title"><span>{{ $state.current.data.title }}</span></h1>
</section>

<section class="content content-data">
  <table class="table-data" ng-hide="data.length === 0">
    <thead>
      <tr>
        <th class="col-checkbox" ng-click="toggleSelection()">
          <input type="checkbox" ng-checked="selectedItems.length === data.length">
        </th>
        <th>Lokasi</th>
        <th>Alamat</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="location in data | filter:filterOptions.filterText"
        ng-click="inViewport(['xs']) && edit(location)" ng-class="{selected: selectedItems.indexOf(location) !== -1}">
        <td class="col-checkbox" ng-click="toggleSelection(location); $event.stopPropagation();">
          <input type="checkbox" ng-checked="selectedItems.indexOf(location) !== -1">
        </td>
        <td ng-style="inViewport(['md', 'lg']) && {'padding-left': (10 + location.depth * 10) + 'px'}">
          <a href ng-click="inViewport(['xs']) || edit(location)">{{location.location_name}}</a>
        </td>
        <td>{{[location.address, location.city] | join}}</td>
      </tr>
    </tbody>
  </table>

  <sg-toolbar-pages ng-hide="data.length === 0 || visibleToolbars.indexOf('pages') === -1"></sg-toolbar-pages>

  <div class="alert alert-warning no-data" ng-show="data.length === 0">
    <div>-- Tidak ada data --</div>
  </div>
</section>
