<form class="form-horizontal" ng-submit="ok()" role="form">

  <div class="modal-header">
    <i class="close" aria-hidden="true" ng-click="cancel()">&times;</i>
    <h4>{{ title }}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="bank_name" class="control-label col-md-3">Nama Bank:</label>
      <div class="col-md-9">
        <input type="text" id="bank_name" ng-model="item.bank_name" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <label for="branch" class="control-label col-md-3">Kantor Cabang:</label>
      <div class="col-md-9">
        <input type="text" id="branch" ng-model="item.branch" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="control-label col-md-3">Alamat:</label>
      <div class="col-md-9">
        <input type="text" id="address" ng-model="item.address" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="city" class="control-label col-md-3">Kota:</label>
      <div class="col-md-9">
        <input type="text" id="city" ng-model="item.city" class="form-control">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Batal</button>
  </div>

</form>
