<section class="content-header content-header-data">
  <h1 class="title"><span>{{ $state.current.data.title }}</span></h1>
</section>

<section class="content content-data">
  <table class="table-data" ng-hide="data.length === 0">
    <thead>
      <tr>
        <th class="col-checkbox" ng-click="toggleSelection()">
          <input type="checkbox" ng-checked="selectedItems.length === data.length">
        </th>
        <th>Nama Bank</th>
        <th>Kantor Cabang</th>
        <th>Alamat</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bank in data | filter:filterOptions.filterText"
        ng-click="inViewport(['xs']) && edit(bank)" ng-class="{selected: selectedItems.indexOf(bank) !== -1}">
        <td class="col-checkbox" ng-click="toggleSelection(bank); $event.stopPropagation();">
          <input type="checkbox" ng-checked="selectedItems.indexOf(bank) !== -1">
        </td>
        <td><a href ng-click="inViewport(['xs']) || edit(bank)">{{bank.bank_name}}</a></td>
        <td><span ng-show="bank.branch">Kantor Cabang </span>{{bank.branch}}</td>
        <td>{{[bank.address, bank.city] | join}}</td>
      </tr>
    </tbody>
  </table>

  <sg-toolbar-pages ng-hide="data.length === 0 || visibleToolbars.indexOf('pages') === -1"></sg-toolbar-pages>

  <div class="alert alert-warning no-data" ng-show="data.length === 0">
    <div>-- Tidak ada data --</div>
  </div>
</section>
