<div class="form-item">
  <label ng-if="labelInline" class="control-label hidden-xs hidden-sm">&nbsp;{{labelInline}}&nbsp;</label>
  <div class="form-col {{className}}">
    <label class="control-label visible-xs visible-sm">{{label}}</label>
    <div ng-transclude></div>
  </div>
</div>
