<div class="form-group">
  <label ng-if="groupLabel !== undefined" class="control-label hidden-xs hidden-sm {{groupLabelClass}}">{{groupLabel}}</label>
  <div class="{{groupContentClass}}">
    <!-- delete action -->
    <div ng-if="hasDeleteAction" class="pull-right {{removeFloatVisibility}}">
      <div class="visible-xs visible-sm" style="height: 10px"></div>
      <button type="button" class="btn btn-transparent" ng-click="removeItem()" title="Hapus" style="width: 26px">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </div>
    <div class="row form-row" style="{{actionGapStyle}}">
      <!-- content -->
      <div ng-transclude></div>
      <!-- delete action inline -->
      <div ng-if="hasDeleteAction" class="{{removeInlineVisibility}}">
        <div class="visible-sm" style="height: 10px"></div>
        <button type="button" class="btn btn-transparent" ng-click="removeItem()" title="Hapus">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
