<ul class="mini-profile">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle">
      <span class="label">{{displayName}}</span>
      <img class="picture" ng-src="{{photoUrl}}">
      <i class="caret"></i>
      <i class="icon-dot"></i>
      <i class="icon-dot"></i>
      <i class="icon-dot"></i>
    </a>

    <div class="dropdown-menu">
      <img class="picture-large" ng-src="{{photoUrl}}">
      <div class="profile-data">
        <div class="display-name">{{displayName}}</div>
        <div class="role">{{roleName}}</div>
        <a class="btn btn-default btn-profile" href="/user-profile">Lihat Profil</a>
      </div>
      <div class="profile-actions">
        <a class="btn" href="/logout">Logout</a>
      </div>
    </div>
  </li>
</ul>
