<ul class="toolbar toolbar-pages">
  <li class="toolbar-item toolbar-item-prev-page" ng-hide="buttons.indexOf('prev-page') === -1" ng-class="{disabled: currentPage === 1}">
    <button type="button" class="btn btn-toolbar" ng-disabled="currentPage === 1" ng-click="btnClick('prev-page')">
      <span title="Halaman Sebelumnya">&lt;</span>
    </button>
  </li>
  <li class="toolbar-item toolbar-item-page" ng-repeat="pageNo in pages" ng-hide="buttons.indexOf('page') === -1">
    <button type="button" class="btn btn-toolbar" ng-class="{current: pageNo === currentPage}" ng-click="btnClick('page', pageNo)">
      <span title="Halaman {{pageNo}}">{{pageNo}}</span>
    </button>
  </li>
  <li class="toolbar-item toolbar-item-next-page" ng-hide="buttons.indexOf('next-page') === -1" ng-class="{disabled: currentPage === pageCount}">
    <button type="button" class="btn btn-toolbar" ng-disabled="currentPage === pageCount" ng-click="btnClick('next-page')">
      <span title="Halaman Berikutnya">&gt;</span>
    </button>
  </li>
</ul>
