<ul class="toolbar toolbar-search">
  <li class="toolbar-item toolbar-item-back" ng-hide="buttons.indexOf('back') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('back')">
      <i class="glyphicon glyphicon-arrow-left" title="Kembali"></i>
    </button>
  </li>
  <li class="toolbar-item toolbar-item-search" ng-hide="buttons.indexOf('search') === -1">
    <form ng-submit="btnClick('search', filterOptions)">
      <input type="search" class="form-control" placeholder="Search" ng-model="filterOptions.filterText">
    </form>
  </li>
</ul>
