<ul class="toolbar toolbar-main">
  <!-- Back -->
  <li class="toolbar-item toolbar-item-back" ng-hide="buttons.indexOf('back') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('back')">
      <i class="glyphicon glyphicon-arrow-left" title="Kembali"></i>
    </button>
  </li>
  <!-- Add -->
  <li class="toolbar-item toolbar-item-add" ng-hide="buttons.indexOf('add') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('add')">
      <i class="glyphicon glyphicon-plus" title="Tambah"></i>
    </button>
  </li>
  <!-- Edit -->
  <li class="toolbar-item toolbar-item-edit" ng-hide="buttons.indexOf('edit') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('edit')">
      <i class="glyphicon glyphicon-pencil" title="Ubah"></i>
    </button>
  </li>
  <!-- Save -->
  <li class="toolbar-item toolbar-item-save" ng-hide="buttons.indexOf('save') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('save')">
      <i class="glyphicon glyphicon-ok" title="Simpan"></i>
    </button>
  </li>
  <!-- Remove -->
  <li class="toolbar-item toolbar-item-remove" ng-hide="buttons.indexOf('remove') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('remove')">
      <i class="glyphicon glyphicon-remove" title="Hapus"></i>
    </button>
  </li>
  <!-- Show Search -->
  <li class="toolbar-item toolbar-item-show-search" ng-hide="buttons.indexOf('show-search') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('show-search')">
      <i class="glyphicon glyphicon-search" title="Cari"></i>
    </button>
  </li>
  <!-- Refresh -->
  <li class="toolbar-item toolbar-item-refresh" ng-hide="buttons.indexOf('refresh') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('refresh')">
      <i class="glyphicon glyphicon-refresh" title="Refresh"></i>
    </button>
  </li>
  <!-- Print -->
  <li class="toolbar-item toolbar-item-print" ng-hide="buttons.indexOf('print') === -1">
    <button type="button" class="btn btn-toolbar" ng-click="btnClick('print')">
      <i class="glyphicon glyphicon-print" title="Cetak"></i>
    </button>
  </li>
  <!-- Previous Page -->
  <li class="toolbar-item toolbar-item-prev-page" ng-hide="buttons.indexOf('prev-page') === -1" ng-class="{disabled: currentPage === 1}">
    <button type="button" class="btn btn-toolbar" ng-disabled="currentPage === 1" ng-click="btnClick('prev-page')">
      <i class="glyphicon glyphicon-chevron-left" title="Halaman Sebelumnya"></i>
    </button>
  </li>
  <!-- Next Page -->
  <li class="toolbar-item toolbar-item-next-page" ng-hide="buttons.indexOf('next-page') === -1" ng-class="{disabled: currentPage === pageCount}">
    <button type="button" class="btn btn-toolbar" ng-disabled="currentPage === pageCount" ng-click="btnClick('next-page')">
      <i class="glyphicon glyphicon-chevron-right" title="Halaman Berikutnya"></i>
    </button>
  </li>
</ul>
